<ion-view class="dark" title="{{'menu.account'|translate}}">
    <ion-nav-buttons side="left">
      <button ng-click="goHome()" class="button button-icon icon ion-ios7-arrow-back"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-ios7-plus-outline" ng-click="newAddr()"></button>
    </ion-nav-buttons>
    
    <ion-content class="has-header" has-bouncing="false">
    
      <div class="list balances">
          <div ng-repeat="asset in assets" class="item"
                    ng-click="showAddys(asset)"
                    ng-class="{active: isAssetActive(group)}">
            <div class="fab blue ">
              <i class="fa20 {{asset.symbol_ui_class}}">{{asset.symbol_ui_text}}</i>
            </div>
            <div class="asset_data">&nbsp;{{asset.symbol}} <span class="asset_balance">$250.00</span></div>  
          </div>
      </div>
  
      <!--ion-list class="addr_list">
        <ion-item ng-repeat="addr in data.addys" ng-class="{'default_addr':addr.is_default!=0}">
          <a ng-click="showActionSheet(addr)">
            <span ng-if="addr.is_default!=0" class="badge-default">{{'g.default' | translate}}</span>
            <h3 ng-if="addr.label!=''">{{addr.label}}</h3>
            <h4>{{addr.address}} </h4>
            <p>{{addr.created_at | date:'medium'}}</p>          
          </a>
        </ion-item>
      </ion-list -->
    </ion-content>
  </ion-view>
  
