<ion-view class="dark" title="{{'menu.assets'|translate}}">
    <ion-nav-buttons side="left">
      <button ng-click="goHome()" class="button button-icon icon ion-ios-arrow-back"></button>
    </ion-nav-buttons>
    
    <ion-content class="has-header assets" has-bouncing="false">
    
      <div class="list balances">
          <div ng-repeat="obj in assets" class="item">
            <div class="asset_data"><b>{{obj.asset.symbol}}</b>
              <span class="asset_balance energized"> <span class="balance_amount">{{obj.asset.amount | number : 2}}</span>&nbsp;{{obj.asset.unit}}</span>
            </div>  
          </div>
      </div>
    </ion-content>
  </ion-view>
  
