  <ion-view view-title="{{data.title}}">

      
    <ion-nav-buttons side="right">
      <button class="button button-icon icon lime_icon qr-code" ng-click="scanQR()"></button>
    </ion-nav-buttons>

    <ion-content class="has-header send contact">
      
      <form novalidate name="sendForm" class="send_form">
        <div class="list">
          <div class="data_container">
            <canvas id="menu_jdenticon_canvas" width="60" height="60" data-jdenticon-hash="{{data.contact.avatar_hash}}"></canvas>
            <label class="item item-input pmd item-floating-label">
              <span class="input-label pmd">{{'g.name'|translate}}</span>
              <input required type="text" placeholder="{{'g.name'|translate}}" autocapitalize="off" ng-model="data.contact.name" class="input_text big pmd">
            </label>
          </div>

          <label class="item item-input pmd item-floating-label">
            <span class="input-label pmd">{{'contacts.pubkey_or_address'|translate}}</span>
            <input required type="text" autocapitalize="off" placeholder="{{'contacts.pubkey_or_address'|translate}}" ng-model="data.contact.pubkey_or_address" class="input_text big pmd">
          </label>

        </div>
      </form>
      
      <div class="buttons_container hide-on-keyboard-open"> 
        <button one-click="save()" class="button button-block button-energized no-margin button_taller"> {{'contacts.save'|translate|uppercase}} 
        </button>
      </div> 
    </ion-content>
  </ion-view>
