<ion-view class="dark" view-title="{{'menu.contacts'|translate}}">
    <ion-nav-buttons side="right">
      <button ng-click="addNew()" class="button button-icon icon ion-android-person-add base-color icon_smaller"></button>
    </ion-nav-buttons>
    
    <ion-content class="has-header contacts base-color_bg padding" has-bouncing="false">
      <div ng-show="!data.contacts || data.contacts.length<1" class="no_contacts">
        <div class="content"> 
          <i class="icon ion-android-people" ></i>
          <br/>
          <span>{{'contacts.none' | translate}}</span>
        </div>
      </div> 
      <div class="list">
        
          <a ng-repeat="contact in data.contacts" class="item base-color item-avatar" ng-click="contactOptions(contact)">
            <img src="http://ionicframework.com/img/docs/venkman.jpg">

            <h2>{{contact.name}}</h2>
            <p>{{contact.pubkey_or_address}}</p>

          </a>
        
      </div>
      
    </ion-content>
  </ion-view>