<ion-view hide-nav-bar="true" title="{{'g.create_wallet'|translate}}" style="z-index:99;">
    <ion-content has-bouncing="false" class="create_account_bg">
      <div class="create_account">
        <div class="create_account_passsword">
          <div ng-show="isCreateInitMode()==true">
            <h3 class="lime">{{'g.create_wallet'|translate}}</h3>
          </div>
          <div ng-show="isCreateInitMode()==false">
            <h3 class="lime">{{'g.recover_wallet'|translate}}</h3>
          </div>
          <br/>
          <p>{{'create_account.type_password1'|translate}}</p>
          <p>{{'create_account.type_password2'|translate}}</p>
          <div class="seed_container">
            <form novalidate name="encryptionForm" class="encryption_form">
              <div class="list_password">
                <label class="item item-input pmd">
                  <input type="password" placeholder="{{'g.password'|translate}}" ng-model="data.password" class="pmd big">
                  <br/>
                </label>
                <label class="item item-input pmd margin15">
                  <input type="password" placeholder="{{'g.confirm_password'|translate}}" ng-model="data.retype_password" class="pmd big">
                  <br/>
                </label>
                <div class="column">
                  <div class="row" ng-show="data.error!=''">
                    <span class="assertive bold" style="width:100%;">{{data.error}}</span>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="buttons_container hide-on-keyboard-open">   
          <a one-click="createWallet()" class="centered_autow button button-outline lime lime_border" ng-bind-html="(isCreateInitMode()==true?'create_account.create_account_html':'g.recover_wallet_html')|translate"></a>
          <!-- a ng-show="isCreateInitMode()==false" one-click="createWallet()" class="centered_autow button button-outline lime lime_border" ng-bind-html="'g.recover_wallet_html'|translate"></a -->
        </div>  
      </div>
    </ion-content>
  </ion-view>
  
