<ion-view hide-nav-bar="true" title="{{'g.create_account'|translate}}">
    <ion-content has-bouncing="false" class="create_account_bg">
      <div class="create_account">
        <h3 class="lime">{{'g.create_account'|translate}}</h3>
        <br/>
        <p>{{'create_account.gen_seed'|translate}}</p>
        <div class="seed_container">
          <p class="lime" ng-click="copySeed()">{{data.seed}}</p>
        </div>
        <p>{{'create_account.advice1'|translate}}</p>
        <p>{{'create_account.advice2'|translate}}</p>
        <div class="bottom_bar">   
          <a ng-click="next()" class="float_right button button-outline lime lime_border">{{'g.next'|translate}}</a>
        </div>  
      </div>

      
    </ion-content>
  </ion-view>
  
