<ion-view hide-nav-bar="true" title="{{'g.create_wallet'|translate}}">
    <ion-content has-bouncing="false" class="create_account_bg ">
      <div class="create_account">
        <div class="create_account_content">
          <div ng-show="isCreateInitMode()==true">
            <h3 class="lime">{{'g.create_wallet'|translate}}</h3>
            <br/>
            <p>{{'create_account.type_seed'|translate}}</p>
          </div>
          <div ng-show="isCreateInitMode()==false">
            <h3 class="lime">{{'g.recover_wallet'|translate}}</h3>
            <br/>
            <p>{{'create_account.type_seed'|translate}}</p>
          </div>
          <div class="seed_input_container">
            <textarea ng-model="data.retype_seed" class="pmd" name="" id="" cols="30" rows="10"></textarea>  
          </div>
          <div class="column">
            <div class="row" ng-show="data.error!=''">
              <span class="assertive error">{{data.error}}</span>
            </div>
          </div>
        </div>
        <div class="buttons_container hide-on-keyboard-open"> 
          <a ng-click="next()" class="float_right button button-outline lime lime_border">{{'g.next'|translate}}</a>
        </div>
      </div>
    </ion-content>
  </ion-view>
  
