<ion-view hide-nav-bar="true" title="{{'g.create_account'|translate}}">
    <ion-content has-bouncing="false" class="create_account_bg">
      <div class="create_account_passsword">
        <h3 class="lime">{{'g.create_account'|translate}}</h3>
        <br/>
        <p>{{'create_account.type_password1'|translate}}</p>
        <p>{{'create_account.type_password2'|translate}}</p>
        <div class="seed_container">
          <form novalidate name="encryptionForm" class="encryption_form">
            <div class="list_password">
              <label class="item item-input">
                <input type="password" placeholder="{{'g.password'|translate}}" class="pmd big big_placeholder">
                <br/>
              </label>
              <label class="item item-input">
                <input type="password" placeholder="{{'g.confirm_password'|translate}}" class="pmd big big_placeholder">
                <br/>
              </label>
              <span class="error input" ng-show="encryptionForm.transactionAmount.$error.number">{{'err.enter_valid_amount'|translate}}</span>
            </div>
          </form>
        </div>
        <div class="bottom_bar hide-on-keyboard-open">   
        <!--div style="position:absolute;bottom:132px;width:100%;padding-right:112px;text-align:center;"-->   
          <a ng-click="create_account()" style="width:auto!important;margin:0 auto;" class="button button-outline lime lime_border" ng-bind-html="'create_account.create_account_html'|translate"></a>
        </div>  
      </div>
    </ion-content>
  </ion-view>
  
