<ion-view title="{{'menu.deposit'|translate}}">
    <ion-nav-buttons side="right">
      <button ng-show="data.step==2" ng-click="copyUri()" class="button button-icon icon ion-ios-copy-outline base-color"></button>
    </ion-nav-buttons>
    
    <ion-content class="has-header  deposit" has-bouncing="false" scroll="false" overflow-scroll="false">
        
        <div class="step1" ng-show="data.step==1">
          
          <p class="paragraph">{{'deposit.deposit_paragraph'|translate}}</p>

          <form novalidate name="sendForm" class="deposit_form send_form">
            <div class="list">
              <div class="amount_container">
                <label class="item item-input pmd input_curr">
                  <input numbers-only-key-press required name="transactionAmount" type="number" class="full_width input_amount big pmd" placeholder="{{'g.amount'|translate}}" ng-model="data.input_amount" />
                  <i class="pmd icon placeholder-icon base-color">{{data.input_curr}}</i>
                </label>
                <label class="item item-input pmd other_curr">
                  <input type="number" class="full_width input_amount big pmd" ng-model="data.other_amount"/>
                  <i class="pmd icon placeholder-icon">{{data.other_curr}}</i>
                </label>
                <button ng-click="toggleInputCurrency()" class="button button-icon icon ion-arrow-swap base-color toggle_curr">
                </button>
              </div>
              <div ng-show="data.quoting" class="deposit_rate_loading" >
                <ion-spinner icon="android"></ion-spinner>
              </div>

              <div ng-show="data.valid_quote" class="deposit_rate" >
                <div class="hint right base-color">{{data.quote.quote.rate}}&nbsp;{{data.quote.quote.book}}</div>
                <div class="hint left">{{'g.cur_rate'|translate}}:</div>
              </div>
            </div>
          </form>
        </div>
        
        <div class="step2" ng-show="data.step==2">
          <div class="deposit_confirm base-color">
            <p ng-click="copyAddy()" ng-bind-html="'g.please_send_btc_to'|translate:{amount:(data.tx.cl_pay|number:8), addy:data.tx.cl_pay_addr}">
            </p>
          </div>
          <div class="list qr_code" id="quote_ttl">
            <div class="item">
              <div id="deposit_qrcode" ng-click="window.open('{{data.deposit_short_uri}}', '_system', 'location=yes');"></div>
              <span class="input-label deposit_qr_hint">{{'g.tap_launch_btc_wallet'|translate}}</span>
            </div>
          </div>
        </div>
      <!-- /ion-scroll -->
      
      <div class="buttons_container hide-on-keyboard-open">
        <fieldset ng-disabled="data.from_in_progress">
          <button ng-click="next()" ng-show="data.step==1" class="button button-block button-energized no-margin button_taller">
            {{'g.next'|translate|uppercase}}
          </button>
          
          <button ng-click="goHome()" ng-show="data.step==2" class="button button-block button-energized no-margin button_taller">
            {{'g.done'|translate|uppercase}}
          </button>
        </fieldset>
      </div>
      
    </ion-content>

  </ion-view>
  
