<ion-view class="dark" title="{{'menu.deposit'|translate}}">
    <ion-nav-buttons side="left">
      <button ng-click="goHome()" class="button button-icon icon ion-ios7-arrow-back"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-ios7-plus-outline" ng-click="newAddr()"></button>
    </ion-nav-buttons>
    
    <ion-content class="has-header register deposit" has-bouncing="false" scroll="false" overflow-scroll="false">
        <ion-scroll zooming="false" direction="y" class="register_details margin-bottom-buttonNOT">
          <div class="energized_bg register_container">
            <h4 class="register_color">Deposit BITCOIN and get <b>bit{{wallet.asset.symbol}}</b></h4>
          
          </div>
          <div class="step1" ng-show="data.step==1">
            <div class="register_container energized_bg register_color">
              <p>
                You can load your wallet by converting bitcoin into your preferred bitasset.<br/>
                Type the amount of bit{{wallet.asset.symbol}} you want to load and get a quote for each bitcoin, and vice versa.
              </p>
            </div>
            <div class="list settings">
              <div class="row" ng-cloak>
                <div class="col col-50">
                  <label class="item item-input item-floating-label">
                    <span class="input-label">{{wallet.asset.symbol}}</span>
                    <input type="number" placeholder="{{wallet.asset.symbol}}" ng-model="data.amount_usd">
                    <i class="icon ion-loading-c" ng-show="data.quoting_usd"></i>
                    <div class="line-divider"></div>            
                  </label>
                </div>
                <div class="col col-50">
                  <label class="item item-input item-floating-label">
                    <span class="input-label">BTC</span>
                    <input type="number" placeholder="BTC" ng-model="data.amount_btc">
                    <i class="icon ion-loading-c" ng-show="data.quoting_btc"></i>
                    <div class="line-divider"></div>            
                  </label>
                </div>
              </div>
            </div>
          </div>
          
          <div class="step2" ng-show="data.step==2">
            <div class="register_container energized_bg register_color">
              <p>
                Please send {{amount_btc|number:2}} BTC to 
                
              </p>
            </div>
            <div class="list settings">
              
            </div>
          </div>
        </ion-scroll>
      
        <button ng-click="next()" class="button button-block button-energized no-margin hide-on-keyboard-open button_taller" style="position:absolute;bottom:0px;">
          {{'g.next'|translate|uppercase}}
        </button>
    </ion-content>

  </ion-view>
  
