<ion-view cache-view="false">
  
  <ion-nav-title>
      <img class="logo-center" src="img/logo.png" />
  </ion-nav-title>
    
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon" ng-click="scanQR()"><i class="fa fa-qrcode"></i></button>
  </ion-nav-buttons>
  
  
  <ion-content class="has-header" has-bouncing="false">
    <div class="balance_container energized_bg" ng-cloak>
      <div >
        <div class="balance hidden" ng-show="wallet.ui.balance.hidden" ng-click="toggleBalance()">
          <span class="balance_hidden_text">{{'home.show_balance' | translate | uppercase}} <!-- i class="fa fa16 fa-eye"></i --></span>
        </div>
        <div class="balance" ng-show="!wallet.ui.balance.hidden && wallet.initialized" ng-click="toggleBalance()">
          <span class="balance_text"><i class="{{wallet.asset.symbol_ui_class}}">{{wallet.asset.symbol_ui_text}}</i> {{wallet.asset.amount | number : 2}}</span>
          <br/>
          <span class="{{wallet.asset.symbol|lowercase}}">{{ 'home.balance' | translate:{asset:wallet.asset.symbol} }}</span>
        </div>
      </div>
    </div>
    <!--div class="punta2"></div -->
    <div class="index_buttons index_buttons2 energized_bg">
      <!--div class="button_send">
        <a class="button button-assertive button-block" href="#/app/send////">{{'g.send' | translate | uppercase}}</a>
      </div>
      <div class="button_receive">
        <a class="button button-balanced2 button-block" href="#/app/receive">{{'g.receive' | translate | uppercase}}</a>
      </div -->
      <div style="width:300px;margin:0 auto;display:block;">
        <div style="padding-top:15px;" class="button-bar tabbed">
          <a class="button button-small button-send" href="#/app/send////">
            {{'g.send' | translate | uppercase}}
          </a>
          <a class="button button-small button-receive" href="#/app/receive">
            {{'g.receive' | translate | uppercase}}
          </a>
        </div>
      </div>
    </div>
    <div ng-show="!wallet.transactions.length" class="index_transactions">
      <div class="display_table no_transactions"> 
        <span ng-show="refresh_status==0" class="display_table_cell vmiddle" style="text-align:center;">{{'home.no_txs' | translate}}</span>
        <span ng-show="refresh_status==1" class="display_table_cell vmiddle" style="text-align:center;"><i class="icon ion-looping"></i></span>
        <span ng-show="refresh_status==-1" class="display_table_cell vmiddle" style="text-align:center;"><a ng-click="doRefresh()">{{'home.tap_to_refresh'|translate}}</a></i></span>
      </div>
    </div> 
    <ion-scroll ng-hide="!wallet.transactions.length" zooming="false" direction="y" class="index_transactions transactions">
      <ion-refresher
      pulling-text="{{'home.pull_to_refresh' | translate}}"
        on-refresh="doRefresh()">
      </ion-refresher>
      <ion-list style="height: 100%;" class="main_transactions">
        <div class="item item-divider _{{box}}"
          ng-repeat-start="box in wallet.ord_transactions.orderedKeys "> <!-- ng-repeat-start="(box, transactions) in wallet.ord_transactions " -->
                {{box|moment_separator}}
        </div>
        <div ng-repeat="tx in wallet.ord_transactions[box]" class="item item-icon-left"> <!-- item-thumbnail-left -->
          <a ng-click="showActionSheet(tx)">
            <div class="{{tx.ui_type}}">
              <div ng-class="{true:'pending', false:''}[tx.state=='P' || tx.status=='WP']">
                <i class="{{tx|tx_icon}} {{tx.ui_type}}_ex"></i>
                <i ng-show="tx.state=='P'" ng-class="{true:'icon ion-loading-c'}[tx.state=='P']"></i> <!-- Send creada a manopla-->
                <i class="{{tx|tx_icon}}" ng-show="tx.status=='WP'"></i> <!-- pending Xtx ; es HACK -->
                <h2>
                  <span class="tx_amount"><i class="{{wallet.asset.symbol_ui_class}}">{{wallet.asset.symbol_ui_text}}</i>{{tx|draw_tx_amount}}</span> 
                  <span class="self_text">{{('g.'+tx.ui_type) | translate}}</span>
                  
                  <span ng-if="tx.state=='P'" class="pending_text">{{'home.pending' | translate}}</span>
                  <span ng-if="tx|is_uncompleted_xtx" class="pending_text {{tx.status}}">{{('xchg.'+tx.status) | translate}}</span>
                </h2>
                <p>
                <span class="wrap_text" ng-if="tx.state=='P'|| tx.status=='WP'" ng-bind-html="tx|draw_pending_tx"></span> <!-- &nbsp;{{'g.from'|translate}}&nbsp;{{tx.cl_pay_addr}} -->
                <span class="deposit_ex wrap_text">{{tx.cl_pay|number:4}}&nbsp;{{tx.cl_pay_curr}}</span> <!-- &nbsp;{{'g.from'|translate}}&nbsp;{{tx.cl_pay_addr}} -->
                <span class="withdraw_ex wrap_text">{{tx.cl_recv|number:4}}&nbsp;{{tx.cl_recv_curr}}</span> <!-- &nbsp;{{'g.to'|translate}}&nbsp;{{tx.cl_recv_addr}} -->
                <span class="sent_ex">{{'g.to'|translate}}</span> <span class="received_ex">{{'g.from'|translate}}</span>
                <span class="self_ex">{{'g.from'|translate}}</span><span class="tx_address">:&nbsp;{{tx.addr_name | translate}}</span>
                <br/><!-- {{'home.on'|translate}} {{ tx.TS|date:'medium'}} -->
              </div>
            </div>
          </a>
          <div class="line-divider" ng-class="{true:'last'}[$last]"></div>
        </div>
        <div ng-repeat-end></div>
      </ion-list>
      <ion-infinite-scroll
        ng-if="moreDataCanBeLoaded()"
        on-infinite="loadMore()"
        distance="1%">
      </ion-infinite-scroll>
    </ion-scroll>      
  </ion-content>
</ion-view>
