<ion-view hide-back-button="true" title=" ">
 
  <ion-nav-buttons side="right">
    <!-- button class="button button-icon icon lime_icon qr" ng-click="scanQR()"><i class="fa fa-qrcode"></i></button -->
    <button class="button button-icon icon lime_icon qr-code" ng-click="scanQR()"></button>
  </ion-nav-buttons>
  
  <ion-content has-bouncing="false" class="home has-header">
    
    <div class="balance_container">
      <div class="balance_">
        <div class="balance hidden" ng-show="wallet.ui.balance.hidden" ng-click="toggleBalance()">
          <span class="balance_hidden_text">{{'home.show_balance' | translate | uppercase}}</span>
        </div>
        <div class="balance" ng-show="!wallet.ui.balance.hidden && wallet.initialized" ng-click="toggleBalance()">
          <span class="balance_text">{{wallet.asset.symbol_ui_text}} {{wallet.asset.amount | number : 2}}</span>
          <br/>
          <span class="balance_curr {{wallet.asset.symbol|lowercase}}">{{ 'home.balance' | translate:{asset:wallet.asset.symbol} }}</span>
        </div>
      </div>
      <div class="button-bar_container">
        <div class="button-bar tabbed">

          <a class="button button-small button-send" ng-click="goToState('app.send', {})">
            {{'g.send' | translate | uppercase}}
          </a>
          <a class="button button-small button-receive" ng-click="goToState('app.receive')">
            {{'g.receive' | translate | uppercase}}
          </a>
        </div>
        <button ng-show="wallet.password_required==1 && wallet.locked==1" class="button button-icon icon ion-locked smaller" style="z-index:10;" ng-click="unLockWallet()"></button>
      </div>
    </div>

    <div ng-hide="txs.transactions.orderedKeys && txs.transactions.orderedKeys.length>0" class="no_tx">
      <div class="content"> 
        <div ng-show="refresh_status==0">
          <i class="icon ion-earth" ></i><br/><span>{{'home.no_txs' | translate}}</span>
        </div>
        <span ng-show="refresh_status==1"><ion-spinner icon="android"></ion-spinner></span>
        <span ng-show="refresh_status==-1"><a ng-click="doRefresh()">{{'home.tap_to_refresh'|translate}}</a></i></span>
      </div>
    </div> 
    
    <ion-scroll ng-show="txs.transactions.orderedKeys && txs.transactions.orderedKeys.length>0" zooming="false" direction="y" class="index_transactions transactions">
      <ion-refresher
        pulling-text="{{'home.pull_to_refresh' | translate}}"
        spinner="android"
        on-refresh="doRefresh()">
      </ion-refresher>
      <ion-list class="main_transactions">
        <div class="item item-divider _{{box}}"
          ng-repeat-start="box in txs.transactions.orderedKeys ">
          {{box|moment_separator}}
        </div>
        <div ng-repeat="tx in txs.transactions[box]" class="item item-icon-left">
          <a ng-click="showActionSheet(tx)">
            <div class="{{tx.ui_type}}">
              <div class="full_width" ng-class="{true:'pending', false:''}[tx.status=='WP']">
                <img class="{{tx.ui_type}}_ex icon tx_icon " src="{{tx|tx_icon_src}}"/>
                <h2>
                  <span class="tx_amount">{{wallet.asset.symbol_ui_text}} {{tx|draw_tx_amount}}</span> 
                  <span class="self_text">{{('g.'+tx.ui_type) | translate}}</span>
                  <span ng-if="tx|is_uncompleted_xtx" class="pending_text {{tx.status}}">{{('xchg.'+tx.status) | translate}}</span>
                </h2>
                <p>
                  <span class="deposit_ex wrap_text">{{tx.cl_pay|number:4}}&nbsp;{{tx.cl_pay_curr}}</span>
                  <span class="withdraw_ex wrap_text">{{tx.cl_recv|number:4}}&nbsp;{{tx.cl_recv_curr}}</span>
                  <span class="btc_pay_ex wrap_text">{{tx.cl_recv|number:4}}&nbsp;{{tx.cl_recv_curr}}</span>
                  
                  <span class="sent_ex" ng-show="tx.name">{{'g.to'|translate}}</span> 
                  <span class="received_ex" ng-show="tx.name">{{'g.from'|translate}}</span>
                  <span class="self_ex" ng-show="tx.name">{{'g.from'|translate}}</span>
                  <span class="tx_address" ng-show="tx.name">:&nbsp;{{ tx.name | limitTo: 20 }}{{tx.name.length > 20 ? '...' : ''}}</span>
                  
                  <span class="from_now">{{tx|from_now}}</span>
                </p>
                <p><span class="memo">{{tx.message}}</span></p>
              </div>
            </div>
          </a>
          <div class="line-divider" ng-class="{true:'last'}[$last]"></div>
        </div>
        <div ng-repeat-end></div>
      </ion-list>
      <ion-infinite-scroll
        ng-if="moreDataCanBeLoaded()"
        on-infinite="loadMore()"
        distance="1%">
      </ion-infinite-scroll>
    </ion-scroll> 

  </ion-content>
</ion-view>
