<ion-view cache-view="false">
  
  <ion-nav-title>
      <img class="logo-center" src="img/logo.png" />
  </ion-nav-title>
    
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon" ng-click="scanQR()"><i class="fa fa-qrcode"></i></button>
  </ion-nav-buttons>
  
  
  <ion-content class="has-header" has-bouncing="false">
    <div class="balance_container energized_bg">
      <div class="balance">
        <span class="balance_text"><i class="{{wallet.asset.symbol_ui_class}}">{{wallet.asset.symbol_ui_text}}</i> {{wallet.asset.amount | number : 2}}</span>
        <br/>
        <span class="{{wallet.asset.symbol|lowercase}}">{{ 'home.balance' | translate:{asset:wallet.asset.symbol} }}</span>
      </div>
    </div>
    <div class="punta2"></div>
    <div class="index_buttons">
      <div class="button_send">
        <!-- a class="button button-assertive button-block" href="#/app/register">REGISTER</a -->
        <a class="button button-assertive button-block" href="#/app/send///">{{'g.send' | translate | uppercase}}</a>
      </div>
      <div class="button_receive">
        <a class="button button-balanced button-block" href="#/app/receive">{{'g.receive' | translate | uppercase}}</a>
      </div>
    </div>
    <div ng-show="!wallet.transactions.length" class="index_transactions">
      <div class="display_table no_transactions"> 
        <span ng-show="refresh_status==0" class="display_table_cell vmiddle" style="text-align:center;">{{'home.no_txs' | translate}}</span>
        <span ng-show="refresh_status==1" class="display_table_cell vmiddle" style="text-align:center;"><i class="icon ion-looping"></i></span>
        <span ng-show="refresh_status==-1" class="display_table_cell vmiddle" style="text-align:center;"><a ng-click="doRefresh()">ERROR DALE CLICKOR</a></i></span>
          
      </div>
    </div> 
    <ion-scroll ng-hide="!wallet.transactions.length" zooming="false" direction="y" class="index_transactions transactions">
      <ion-refresher
      pulling-text="{{'home.pull_to_refresh' | translate}}"
        on-refresh="doRefresh()">
      </ion-refresher>
      <ion-list style="height: 100%;">
        <ion-item ng-repeat="tx in wallet.transactions" class="item item-icon-left"> <!-- item-thumbnail-left -->
          <a ng-click="showActionSheet(tx)">
            <div ng-class="{'sent':tx.sign<0, 'received':tx.sign>0, 'self':tx.sign==0}">
              <div ng-class="{true:'pending', false:''}[tx.state=='P']">
                <i class="icon ion-ios7-upload-outline" ></i> 
                <i class="icon ion-ios7-download-outline"></i>
                <i class="icon ion-ios7-refresh-outline"></i>
                <i ng-show="tx.state=='P'" class="icon ion-loading-c"></i>
                <h2>
                  <span class="tx_amount"><i class="{{wallet.asset.symbol_ui_class}}">{{wallet.asset.symbol_ui_text}}</i>&nbsp;{{tx.amount| number : 2}}</span> 
                  <span class="self_text">{{'g.received' | translate}}</span>
                  <span class="sent_text">{{'g.sent' | translate}}</span>
                  <span class="received_text">{{'g.received' | translate}}</span>
                  <span ng-if="tx.state=='P'" class="pending_text">{{'home.pending' | translate}}</span></h2>
                <p>
                <span class="sent_text">{{'g.to'|translate}}</span><span class="received_text">{{'g.from'|translate}}</span>
                <span class="self_text">{{'g.from'|translate}}</span>: <span class="tx_address">{{tx.addr_name | translate}}</span>
                <br/>{{'home.on'|translate}} {{ tx.date|date:'medium'}}</p>
              </div>
            </div>
          </a>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll
        ng-if="moreDataCanBeLoaded()"
        on-infinite="loadMore()"
        distance="1%">
      </ion-infinite-scroll>
    </ion-scroll>      
  </ion-content>
</ion-view>
