<ion-side-menus>
  <ion-side-menu-content>
    <ion-nav-bar class="light_navbar nav-title-slide-ios7">
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" class="menu_bg">
    <ion-header-bar class="bar bar-header menu_header transparent_bg"> <!-- bar-dark -->
      <div class="menu_container">
        <div class="c">
          <a href="#/app/settings" nav-clear menu-close class="c1x button button-icon icon lime_settings_icon logout"></a>
          <div class="menu_avatar c2x"> <img src="{{wallet.account.photo}}" alt="" /> </div>
          <a href="#/app/settings" nav-clear menu-close class="c3x button button-icon icon lime_settings_icon settings"></a>
          <!--div class="c1 super_flex">
            <div class="cc">
              <a href="#/app/settings" nav-clear menu-close class="button button-icon icon lime_settings_icon logout"></a>
            </div> 
          </div>
          <div class="c2" nav-clear menu-close ng-click="goTo('app.account')">
            <div class="menu_avatar"> <img src="{{wallet.account.photo}}" alt="" /> </div>
          </div>
          <div class="c3 super_flex">
            <div class="cc">
              <a href="#/app/settings" nav-clear menu-close class="button button-icon icon lime_settings_icon settings"></a>
            </div>
          </div -->
        </div>
        <div class="menu_name"> <label><i>name: {{wallet.account.name}}</i></label></div>
        <div class="menu_balance lime"> <label>$2.013,45</label></div>
      </div>
    </ion-header-bar>
    <ion-content class="has-header transparent_bg" has-bouncing="false"> <!-- dark -->
      <ion-list class="menu">
        <ion-item nav-clear menu-close href="#/app/home" class="item-icon-left item_first">
          <i class="icon fa16 fa fa-home lime"></i>
          {{'menu.home'|translate}} 
        </ion-item>
        <ion-item class="line-divider"></ion-item>
        <ion-item nav-clear menu-close href="#/app/address_book" class="item-icon-left">
          <i class="icon fa16 fa fa-book lime"></i>
          {{'menu.address_book'|translate}}
        </ion-item>
        <ion-item class="line-divider"></ion-item>
        <ion-item nav-clear menu-close href="#/app/assets" class="item-icon-left">
          <i class="icon lime_settings_icon assets"></i>
          {{'menu.assets'|translate}}
        </ion-item>
        <ion-item class="line-divider"></ion-item>
        <ion-item nav-clear menu-close href="#/app/deposit" class="item-icon-left">
          <i class="icon lime_settings_icon deposit"></i>
          {{'menu.deposit'|translate}}
        </ion-item>
        <ion-item class="line-divider"></ion-item>
        <ion-item nav-clear menu-close href="#/app/withdraw" class="item-icon-left">
          <i class="icon lime_settings_icon withdraw"></i>
          {{'menu.withdraw'|translate}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
