<ion-side-menus>
  <ion-side-menu-content>
    <ion-nav-bar class="light_navbar nav-title-slide-ios7">
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" class="menu_bg">
    <ion-header-bar class="bar bar-header menu_header transparent_bg"> <!-- bar-dark -->
      <div class="menu_container">
        <div class="c">
          <!-- nav-clear menu-close -->
          <a ng-click="lockWallet()"   ng-disabled="data.in_progress" ng-show="wallet.password_required==1 && wallet.locked==0"  class="c1x lime_settings_ionicon button button-icon icon ion-unlocked"></a>
          <a ng-click="unLockWallet()" ng-disabled="data.in_progress" ng-show="wallet.password_required==1 && wallet.locked==1"  class="c1x lime_settings_ionicon button button-icon icon ion-locked"></a>
          <a href="#" ng-show="wallet.password_required==0" class="c1x lime_settings_ionicon button button-icon icon ion-unlocked"></a>
          <!-- lime_settings_icon logout -->
          <div class="menu_avatar c2x" nav-clear menu-close ng-click="goTo('app.account')"> 
            <canvas id="menu_jdenticon_canvas" width="80" height="80" data-jdenticon-hash="{{wallet.account.avatar_hash}}"></canvas>
            <!-- img src="{{wallet.account.photo}}" alt="" / --> 
          </div>
          <a href="#/app/settings" nav-clear menu-close class="c3x button button-icon icon lime_settings_icon settings"></a>

        </div>
        <div class="menu_name"> 
          <label>{{wallet.account.name}}</label>
          <label ng-show="wallet.account.registered!=1" style="color:#b0b0b0;font-size:13px!important;font-weight:300;font-style:italic;"><br/>{{'menu.unregistered'|translate}}</label>
        </div>
        <div class="menu_balance lime"> <label>$2.013,45</label></div>
      </div>
    </ion-header-bar>
    <ion-content class="has-header transparent_bg" has-bouncing="false"> <!-- dark -->
      <ion-list class="menu">
        <ion-item nav-clear menu-close href="#/app/home" class="item-icon-left item_first">
          <i class="icon fa16 fa fa-home lime"></i>
          {{'menu.home'|translate}} 
        </ion-item>
        <ion-item class="line-divider"></ion-item>
        <ion-item nav-clear menu-close href="#/app/contacts" class="item-icon-left">
          <i class="icon fa16 fa fa-book lime"></i>
          {{'menu.address_book'|translate}}
        </ion-item>
        <ion-item class="line-divider"></ion-item>
        <ion-item nav-clear menu-close href="#/app/assets" class="item-icon-left">
          <i class="icon lime_settings_icon assets"></i>
          {{'menu.assets'|translate}}
        </ion-item>
        <ion-item class="line-divider"></ion-item>
        <ion-item nav-clear menu-close href="#/app/deposit" class="item-icon-left">
          <i class="icon lime_settings_icon deposit"></i>
          {{'menu.deposit'|translate}}
        </ion-item>
        <ion-item class="line-divider"></ion-item>
        <ion-item nav-clear menu-close href="#/app/withdraw" class="item-icon-left">
          <i class="icon lime_settings_icon withdraw"></i>
          {{'menu.withdraw'|translate}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
