<ion-view class="dark" title="{{'receive.payment_request'|translate}}">
    <ion-nav-buttons side="left">
      <button ng-click="goBack()" class="button button-icon icon ion-ios7-arrow-back"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
    
    <ion-content class="has-header">
      <form novalidate name="receiveForm">
        <div class="list">
          <label class="item item-input">
            <i class="icon fa20 fa {{asset.symbol_ui_class}} placeholder-icon">{{asset.symbol_ui_text}}</i>
            <input old-numbers-only-inputNOT required name="transactionAmount" ng-model="transaction.amount" type="number" placeholder="{{'g.amount'|translate}}" class="input_amount big big_placeholder" ng-class="{'error':receiveForm.transactionAmount.$error.number}">
            <br/>
          </label>
          <span class="error input" ng-show="receiveForm.transactionAmount.$error.number">{{'err.enter_valid_amount'|translate}}</span>
        </div>
      </form>
      
      <div class="action_container hide-on-keyboard-open padding">
        <button class="button button-balanced" style="margin-right:7px;width:100%;" ng-click="doGenerateQRCodeRecvPayment()">
          <i class=" fa20 fa fa-qrcode"></i>
        </button>
      </div>

    </ion-content>
  </ion-view>
