<ion-view class="dark" title="{{'receive.payment_request'|translate}}">
    <ion-content class="has-header receive">
      <form novalidate name="receiveForm" class="send_form">
        <div class="list">

          <label class="item item-input pmd">
            <span ng-class="{ 'has-error' : transaction.amount.$invalid}" class="input-label pmd">{{'g.amount'|translate}}</span>
            <input numbers-only-key-press required name="transactionAmount" ng-model="transaction.amount" type="number" class="input_amount big pmd"> 
            <i class="pmd icon placeholder-icon">$</i>
            <br/>
          </label>
          <span class="error input" ng-show="receiveForm.transactionAmount.$error.number">{{'err.enter_valid_amount'|translate}}</span>
        </div>
      </form>
      
      <div class="buttons_container hide-on-keyboard-open">
        <button ng-click="doGenerateQRCodeRecvPayment()" class="button button-block button-energized no-margin button_taller"> 
          {{'receive.payment_request'|translate}}          
        </button>
      </div>
    </ion-content>
  </ion-view>
