<ion-view title="{{'receive.payment_request'|translate}}">
    
    <ion-nav-buttons side="right">
      <button ng-click="doShareRecvPayment()" class="button button-icon icon ion-share base-color"></button>
    </ion-nav-buttons>
    
    <ion-content class="has-header receive_qr_content">
      <div class="list receive_qr">

        <div class="item">
          <h1>{{wallet.asset.symbol_ui_text}} {{data.amount}}</h1>
          <!-- h4>{{data.name_or_pubkey}}</h4 -->
        </div>

        <div class="item padding_top_0">
          <div id="qrcode" ng-click="doCopyRecvPayment()"></div>
          <span class="input-label qr_hint">{{'g.tap_copy_bts_uri'|translate}}</span>
        </div>
      </div>
      <div class="buttons_container">
        <button ng-click="goHome()" class="button button-block button-energized no-margin button_taller">
          {{'g.done'|translate|uppercase}}
        </button>
      </div>
          
    </ion-content>
  </ion-view>
