<ion-view class="dark" title="{{'g.refund'|translate}}">
    
    <ion-content class="has-header register refund" has-bouncing="false" scroll="false" overflow-scroll="false">
        <ion-scroll zooming="false" direction="y" class="register_details margin-bottom-buttonNOT">
          <div class="energized_bg register_container">
            <h4 class="register_color" ng-bind-html="'refund.headline'|translate:{symbol:data.xtx.cl_pay_curr}"></h4>
          </div>
          
          <!-- div class="register_container energized_bg register_color">
            <p ng-bind-html="'withdraw.headline2'|translate"></p>
          </div -->
          <div class="list settings" >
            <div class="row" ng-cloak>
              <div class="item-input-inset bitcoin_address">
                <label class="item item-input item-floating-label" style="width:300px;">
                  <span class="input-label">{{'refund.address'|translate}}</span>
                  <input required name="refundAddress" ng-model="data.refund_address" type="text" placeholder="{{'refund.address'|translate}}" class="big big_placeholder">
                </label>
                <button ng-click="pasteBitcoinAddress()" class="button button-outline button-stable button-small icon" style="margin-top:20px;">
                  <i class="fa fa-paste"></i>
                </button>
                <div class="line-divider" style="clear:both;"></div>            
              </div>
              <span class="quote_error assertive" ng-show="data.address_error!==undefined">{{data.address_error}}</span>
            </div>
          </div>
          
        </ion-scroll>
      
        <button ng-click="doRefund()" class="button button-block button-energized no-margin hide-on-keyboard-open button_taller" style="position:absolute;bottom:0px;">
          {{'g.refund'|translate|uppercase}}
        </button>
    </ion-content>

  </ion-view>
  