<ion-view title="{{'g.refund'|translate}}">
    
  <ion-nav-buttons side="right">
    <button class="button button-icon icon lime_icon qr" ng-click="scanQR()"><i class="fa fa-qrcode"></i></button>
  </ion-nav-buttons>

  <ion-content class="has-header refund" has-bouncing="false" scroll="false" overflow-scroll="false">
        
      <div class="list">          
        <div class="item item-divider base-color larger bgcolor_white">
          <span class="tx_desc wrap_text" ng-bind-html="'refund.headline'|translate:{action:data.xtx.extra_data}"></span> 
        </div>
        <form novalidate name="sendForm" class="deposit_form send_form">
          <div class="recipient_container recipient_container2">
            <label class="item item-input pmd item-floating-label">
              <span class="input-label pmd">{{'refund.address'|translate}}</span>
              <input name="refundAddress" placeholder="{{'refund.address'|translate}}" ng-model="data.refund_address" class="big full_width pmd" />
              <span style="clear:both;float:right;width:100%;" class="quote_error assertive" ng-show="data.address_error!==undefined">{{data.address_error}}</span>
            </label>
            <button ng-click="pasteBitcoinAddress()" class="button button-icon icon ion-clipboard">
            </button>
          </div>
        </form>   
            <!--div class="row" ng-cloak>
              <div class="item-input-inset bitcoin_address">
                <label class="item item-input item-floating-label" style="width:300px;">
                  <span class="input-label">{{'refund.address'|translate}}</span>
                  <input required name="refundAddress" ng-model="data.refund_address" type="text" placeholder="{{'refund.address'|translate}}" class="big big_placeholder">
                </label>
                <button ng-click="pasteBitcoinAddress()" class="button button-outline button-stable button-small icon" style="margin-top:20px;">
                  <i class="fa fa-paste"></i>
                </button>
                <div class="line-divider" style="clear:both;"></div>            
              </div>
              <span class="quote_error assertive" ng-show="data.address_error!==undefined">{{data.address_error}}</span>
            </div -->
        </div>
        <div class="buttons_container hide-on-keyboard-open ">
          <button ng-click="doRefund()" class="button button-block button-energized no-margin hide-on-keyboard-open button_taller" style="position:absolute;bottom:0px;">
            {{'g.refund'|translate|uppercase}}
          </button>
        </div>
    </ion-content>

  </ion-view>
  