<ion-view title="{{'menu.account'|translate}}" hide-nav-bar="true">
    
    <ion-content class="super_flex register_bg" has-bouncing="false" scroll="false" overflow-scroll="false">
      <div class="register">
        <a ng-cloak class="button button-outline button-small bar_title_button" ng-click="skip()">{{'g.later'|translate|uppercase}}</a>
        <h3 class="lime">{{'register.register_account_globally'|translate}}</h3>
        <p ng-bind-html="'account.type_name'|translate"></p>
        <div class="seed_container">
          <form novalidate name="encryptionForm" class="encryption_form">
            <label class="item item-input pmd" ng-show="data.valid_name==false">
              <input type="text" placeholder="{{'register.type_new_name'|translate}}" ng-model="data.new_name" class="pmd big big_placeholder">
              <br/>
            </label>
            <div class="column">
              <div class="row" ng-show="data.error!=''">
                <span class="assertive bold error" ng-bind-html="data.error"></span>
              </div>
            </div>
          </form>
        </div>
        <div class="hide-on-keyboard-open buttons_container">   
          <a ng-click="register()" ng-disabled="!data.valid_name && data.new_name==''" class="button button-block button-outline lime lime_border">{{'register.register'|translate|uppercase}}</a>
        </div>
      
      </div>
      
    </ion-content>
  </ion-view>
  
