  <ion-view view-title="{{'send.title'|translate}}">

    <ion-nav-buttons side="right">
      <button class="button button-icon icon lime_icon qr" ng-click="scanQR()"><i class="fa fa-qrcode"></i></button>
    </ion-nav-buttons>
  
    <ion-content class="has-header send">
      
      <form novalidate name="sendForm" class="send_form"> <!--ng-show="data.is_btc==false" -->
        <div class="list">
          
          <label class="item item-input pmd item-floating-label" ng-disabled="data.is_btc==true" ng-show="!data.is_btc">
            <span class="input-label pmd">{{'g.amount'|translate}}</span>
            <input numbers-only-key-press required type="number" placeholder="{{'g.amount'|translate}}" ng-model="transaction.amount" class="input_amount big pmd">
            <i class="pmd icon placeholder-icon">{{wallet.asset.symbol_ui_text}}</i>
          </label>

          <div class="recipient_container recipient_container2">
            <label class="item item-input pmd item-floating-label" ng-disabled="data.is_btc==true" ng-show="!data.is_btc">
              <span class="input-label pmd">{{'g.recipient'|translate}}</span>
              <ion-autocomplete placeholder="{{'g.recipient'|translate}}" item-view-value-key="name" name="transactionAddress" 
              ng-model="transaction.destination" local-search="localSearch(query)" global-search="globalSearch(query)" 
              is-selectable="isSelectable(query)" class="big full_width pmd" placeholder_="{{'g.search_recipient'|translate}}" 
              search-query-item-hint="{{'g.tap_to_select'|translate}}" cancel-label="{{'g.cancel'|translate}}" local-label="{{'g.local_items_label'|translate}}" global-label="{{'g.global_items_label'|translate}}"></ion-autocomplete>
            </label>
            <button ng-click="clearDestination()" class="button button-icon icon ion-android-cancel">
            </button>
          </div>

          <!-- BTS & BTC -->
          <label class="item item-input pmd item-floating-label">
            <span class="input-label pmd">{{'g.memo'|translate}}</span>
            <textarea name="" id="" cols="30" rows="5" placeholder="{{'g.memo'|translate}}" name="transactionMemo" ng-model="transaction.memo"
            class="big pmd base-color" ng-class="{'error':sendForm.transactionMemo.$error.number}"></textarea>  
            <br/>
          </label>
          <span class="error input" ng-show="sendForm.transactionAmount.$error.number">{{'err.enter_valid_amount'|translate}}</span>
          <input type="hidden" name="transactionAssetId" ng-model="transaction.asset_id" />
        </div>
      </form>
      
      <fieldset ng-disabled="data.from_in_progress" class="buttons_container hide-on-keyboard-open"> 
        <button ng-click="doSend(transaction)" class="button button-block button-energized no-margin button_taller"> {{'g.send'|translate|uppercase}} 
        </button>
      </fieldset> 
    </ion-content>
  </ion-view>
