<ion-view class="dark" title="{{'send.send_payment'|translate}}">
    
    <ion-nav-buttons side="left">
      <button ng-click="goBack()" class="button button-icon icon ion-ios7-arrow-back"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon icon" ng-click="scanQR()"><i class="fa fa-qrcode"></i></button>
    </ion-nav-buttons>
    
    <ion-content class="has-header">
      <form novalidate name="sendForm" class="send_form" >
        <div class="list">
          <div class="item item-input-inset">
            <label class="item-input-wrapper wrapper_clean">
              <input required name="transactionAddress" ng-model="transaction.address" type="text" placeholder="{{'g.to'|translate}}" class="big big_placeholder">
            </label>
            <button ng-click="showAddressBook()" class="button button-energized button-small icon" >
              <i style="color:#ffffff!important;" class="fa fa-book"></i>
            </button>
          </div>
    
          <label class="item item-input">
            <i class="icon fa20 {{asset.symbol_ui_class}} placeholder-icon">{{asset.symbol_ui_text}}</i>
            <!-- required -->
            <input old-numbers-only-inputNOT required name="transactionAmount" ng-model="transaction.amount" type="number" placeholder="{{'g.amount'|translate}}" class="input_amount big big_placeholder" ng-class="{'error':sendForm.transactionAmount.$error.number}">
            <br/>
          </label>
          <span class="error input" ng-show="sendForm.transactionAmount.$error.number">{{'err.enter_valid_amount'|translate}}</span>
          <input type="hidden" name="transactionAssetId" ng-model="transaction.asset_id" />
        </div>
        <div class="action_container hide-on-keyboard-open padding">
          <button class="button button-assertive  button-block" ng-click="validateSend(transaction)">
            {{'g.send'|translate}} 
          </button>
        </div>
      </form>
    </ion-content>
  </ion-view>

  <script id="sending-modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar align-title="middle" class="bar-energized nav-title-slide-ios7">
        <div class="title">{{'send.sending_payment'|translate}}</div>
      </ion-header-bar>
      
      <ion-content class="has-header">
        <div class="row">
          <div class="transaction_steps">
            <h2 style="text-align:center;" class="step_doing positive">
              {{transaction.message|translate}}<i class="ion-loading-a" data-pack="default" data-tags="spinner, waiting, refresh, animation" data-animation="true"></i>
            </h2>
          </div>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>
  
  <script id="address-book-modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar align-title="middle" class="bar-energized nav-title-slide-ios7">
        <div class="title">{{'send.address_book'|translate}}</div>
        <button ng-click="address_book_modal.hide()" class="button button-icon icon ion-ios7-close-empty"></button>
      </ion-header-bar>
      
      <ion-content class="has-header">
        <ion-list>
          <ion-item ng-repeat="addr in data.address_book">
            <a ng-click="selectContact(addr)">
              <h3 class="calm">{{addr.name}}</h3>
              <h4>{{addr.address}} </h4>
            </a>
          </ion-item>
        </ion-list>  
      </ion-content>
    </ion-modal-view>
  </script>
