<ion-view class="dark" title="{{'assets.my_assets'|translate}}">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <!--button class="button button-icon icon ion-ios7-plus-outline" ng-click="newAsset()"></button-->
    </ion-nav-buttons>
    
    <ion-content class="has-header" has-bouncing="false">
      <ion-list class="asset_list">
        <ion-item ng-repeat="asset in data.assets">
          <a ng-click="showActionSheet(asset)" style="display:block;overflow:hidden;">
            <img src="img/bit{{asset.symbol|lowercase}}_395x395.png" class="asset_img float_left">
            <span ng-if="asset.is_default!=0" class="badge-default">{{'g.default' | translate}}</span>
            <div style="margin-right: 50px;height:100%;" class="float_left">
              <h2>{{asset.symbol}}</h2>
              <p class="">{{asset.fullname}} </p>
            </div>
          </a>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-view>
  
