<ion-view class="dark" view-title="{{'menu.settings'|translate}}">
    <ion-content class="has-header" has-bouncing="false">
      <div class="list settings">
        <!-- div class="item item-divider">
          {{'settings.default_currency'|translate}}
        </div -->
        <label class="item item-input item-select">
          <div class="input-label green_color">
            {{'settings.default_currency'|translate}}
          </div>
          <select ng-model="data.selected_asset"
                ng-options="opt as opt.label for opt in data.assets"
                ng-change="assetChanged()">
          </select>
          <div class="line-divider"></div>  
        </label>
        <!-- div class="item item-divider">
          {{'g.balance'|translate}}
        </div -->
        <div class="item item-toggle green_color">
           {{'settings.hide_balance_on_tap'|translate}}
           <label class="toggle toggle-green">
             <input type="checkbox" ng-model="data.hide_balance" ng-checked="data.hide_balance"> <!--ng-model="wallet.ui.balance.allow_hide"-->
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
           <div class="line-divider"></div>
        </div>
        <!-- div class="item item-divider">
          {{'g.address'|translate}}
        </div>
        <div class="item" ng-click="copyAddy()">
          <span class="addy">{{data.addy}}</span>
        </div -->
        <!-- div class="item item-divider">
          {{'g.wallet'|translate}}
        </div -->
        <div class="item item-button-right green_color ">
          {{'g.backup_wallet'|translate}} 
          <a class="button button-icon green_color icon ion-android-upload" href="#/app/settings/backup"></a>
          <div class="line-divider"></div>
        </div>
        <div class="item item-button-right green_color">
          {{'g.restore_wallet'|translate}} 
          <a class="button button-icon green_color icon ion-android-download" href="#/app/settings/restore"></a>
        </div>
      </div>
    </ion-content>
  </ion-view>
  
