<ion-view class="dark" view-title="{{'menu.settings'|translate}}">
    
    <ion-content class="has-header base-color_bg padding" has-bouncing="false">
      <div class="list ui_settings">
        
        <div class="item item-divider">
          {{'g.wallet'|translate}}
        </div>
        <label class="item item-input item-select">
          <div class="input-label base-color">
            {{'settings.default_currency'|translate}}
          </div>
          <select ng-model="data.selected_asset"
                ng-options="opt as opt.label for opt in data.assets"
                ng-change="assetChanged()" class="base-color">
          </select>
          <div class="line-divider"></div>  
        </label>

        <div class="item item-divider">
          {{'g.ui_settings'|translate}}
        </div>
        <div class="item item-toggle base-color">
           {{'settings.hide_balance_on_tap'|translate}}
           <label class="toggle toggle-green">
             <input type="checkbox" ng-model="data.hide_balance" ng-checked="data.hide_balance"> <!--ng-model="wallet.ui.balance.allow_hide"-->
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
           <div class="line-divider"></div>
        </div>

        <div class="item item-divider">
          {{'g.security'|translate}}
        </div>
        <div class="item item-button-right base-color ">
          {{'g.backup_wallet'|translate}} 
          <a class="button button-icon base-color icon mini ion-android-upload" ng-click="backupWallet()"></a>
          <div class="line-divider"></div>
        </div>
        <!--div class="item item-button-right base-color">
          {{'g.restore_wallet'|translate}} 
          <a class="button button-icon base-color icon mini ion-android-download" ng-click="restoreWallet()"></a>
        </div -->
        <div class="item item-button-right base-color">
          {{(wallet.password_required==1?'g.change_password':'g.set_password')|translate}} 
          <a class="button button-icon base-color icon mini ion-locked" ng-click="password()"></a>
        </div>
      </div>
    </ion-content>
  </ion-view>
  
<script id="templates/settings.backup.seed.html" type="text/ng-template">
  <ion-modal-view>
    <ion-content has-bouncing="false" class="create_account_bg">
      <div class="create_account">
        
        <div class="create_account_content">
          <h3 class="lime">{{'g.backup_wallet'|translate}}</h3>
          <br/>
          <p>{{'create_account.gen_seed'|translate}}</p>
          <div class="seed_container">
            <p class="lime" ng-click="copySeed()">{{wallet.seed.plain_value}}</p>
            <span class="float_right input-label qr_hint" style="font-size:10px;color:#c0c0c0; text-align: right;text-transform: uppercase;">{{'g.tap_copy'|translate}}</span>
          </div>

          <p style="clear: both;margin-top: 30px;" >{{'create_account.advice1'|translate}}</p>
          <p>{{'create_account.advice2'|translate}}</p>
        </div>
        <div class="buttons_container">   
          <a ng-click="closeModal()" class="centered_autow button button-outline lime lime_border">{{'g.done'|translate}}</a>
        </div>  
      </div>
    </ion-content>    
  </ion-modal-view>
</script>
