<ion-view hide-nav-bar="true" title="{{'g.welcome'|translate}}">
    <ion-content has-bouncing="false" class="welcome_bg">
      <div class="welcome">
        
        <div class="logo_container">
          <img src="img/lime+logo.png" alt="">
        </div>
        
        <div class="buttons_container">   

          <a ng-click="createWallet()" class="button-block dark_blue button lime_bg lime_border ng-binding" ng-bind-html="'g.create_wallet_html'|translate"></a>
          <a ng-click="recoverWallet()" class="button-block button energized_bg lime lime_border ng-binding" ng-bind-html="'g.recover_wallet_html'|translate"></a>

        </div>  
      </div>

      
    </ion-content>
  </ion-view>
  
