<ion-view hide-nav-bar="true" title="{{'g.welcome'|translate}}">
    <ion-content has-bouncing="false" class="welcome_bg">
      <div class="welcome">
        <!--h3 class="lime">Welcome to</h3-->
        <br/><br/>
        <img src="img/lime+logo.png" alt="" style="margin:0 auto;">
        
        <!-- div style="position:absolute;bottom:132px;width:auto;margin:0 auto;" -->   
        <div class="bottom_bar">   
          <a href="#/app/create_account" class="base-color float_left button button-outline lime_bg lime_border" ng-bind-html="'g.create_wallet_html'|translate"></a>
          <a href="#/app/recover_key" class="float_right button button-outline lime lime_border" ng-bind-html="'g.recover_wallet_html'|translate"></a>
        </div>  
      </div>

      
    </ion-content>
  </ion-view>
  
