<ion-view class="dark" view-title="{{'menu.withdraws'|translate}}">
    <ion-nav-buttons side="left">
      <button ng-click="goHome()" class="button button-icon icon ion-ios-arrow-back"></button>
    </ion-nav-buttons>
    
    <ion-content class="has-header deposits" has-bouncing="false">
      <div ng-show="!data.txs || data.txs.length<1" class="txs_empty">
        <div class="display_table no_transactions"> 
          <div ng-show="data.refresh_status==0" class="display_table_cell vmiddle" style="text-align:center;">
          <span >{{'withdraw.no_withdraws' | translate}}</span>
          <br /><br />
          <a class="button button-stable button-small icon" ng-click="doRefresh()"><i class="icon ion-refresh"></i></a>
          </div>
          <span ng-show="data.refresh_status==1" class="display_table_cell vmiddle" style="text-align:center;"><i class="icon ion-looping"></i></span>
        </div>
      </div> 
      <ion-scroll ng-show="data.txs && data.txs.length>0" zooming="false" direction="y" class="txs_empty">
        <ion-refresher
        pulling-text="{{'home.pull_to_refresh' | translate}}"
          on-refresh="doRefresh()">
        </ion-refresher>
        <div class="list balances" style="height: 100%;">
          <div ng-repeat="tx in data.txs" class="item {{tx.status}}" ng-click="showActionSheet(tx.id)">
            <div class="fab {{tx.status}} ">
              <i class="fa20">{{tx.status}}</i>
            </div>
            <div class="asset_data">{{('menu.withdraw')|translate}}
              <br/><span style="font-size:14px;">{{('xchg.'+tx.status)|translate}}</span>
              <br/><span style="font-size:14px;">On {{tx.quoted_at}} </span>
              <span class="asset_balance" style="position:absolute;right:16px;top:26px;"><i class="fa18 {{tx.cl_recv_curr}}">{{tx.cl_recv_curr}}</i>&nbsp;{{tx.cl_recv | number : 2}}</span>
            </div>  
          </div>
        </div>
      </ion-scroll>      
      <button ng-click="newWithdraw()" class="button button-block button-energized no-margin hide-on-keyboard-open button_taller" style="position:absolute;bottom:0px;">
        {{'withdraw.new'|translate|uppercase}}
      </button>
    </ion-content>
  </ion-view>
  
