<ion-view title="{{'menu.withdraw'|translate}}">
    <ion-content class="has-header withdraw" has-bouncing="false" scroll="true" overflow-scroll="true">
          
      <div class="step1">
        
        <p class="paragraph">{{'withdraw.withdraw_paragraph'|translate}}</p>

        <form novalidate name="sendForm" class="deposit_form withdraw_form send_form">
          <div class="list">

            <div class="recipient_container">
              <label class="item item-input pmd item-floating-label">
              <span class="input-label pmd">{{'g.bitcoin_address'|translate}}</span>
                <input name="transactionAddress" placeholder="{{'g.bitcoin_address'|translate}}" ng-model="data.address" class="big full_width pmd" />
                <span style="clear:both;float:right;width:100%;" class="quote_error assertive" ng-show="data.address_error!==undefined">{{data.address_error}}</span>
              </label>
              <button ng-click="pasteBitcoinAddress()" class="top_35 button button-outline button-stable button-small icon" >
                <i class="fa fa-paste"></i>
              </button>
            </div>
            
            <div class="amount_container">
              <label class="item item-input pmd input_curr">
                <input numbers-only-key-press required name="transactionAmount" type="number" class="full_width input_amount big pmd" placeholder="{{'g.amount'|translate}}" ng-model="data.input_amount" />
                <i class="pmd icon placeholder-icon base-color">{{data.input_curr}}</i>
              </label>
              <label class="item item-input pmd other_curr">
                <input disabled type="number" class="full_width input_amount big pmd" ng-model="data.other_amount"/>
                <i class="pmd icon placeholder-icon">{{data.other_curr}}</i>
              </label>
              <button ng-click="toggleInputCurrency()" class="button button-icon icon ion-arrow-swap base-color toggle_curr">
              </button>
            </div>
            <div ng-show="data.quoting" class="deposit_rate_loading" >
              <ion-spinner icon="android"></ion-spinner>
            </div>

            <div ng-show="data.valid_quote" class="deposit_rate" >
              <div class="hint right base-color">{{data.quote.quote.rate}}&nbsp;{{data.quote.quote.book}}</div>
              <div class="hint left">{{'g.cur_rate'|translate}}:</div>
            </div>

          </div>
        </form>
      </div>

        
      <div class="buttons_container hide-on-keyboard-open">
        <fieldset ng-disabled="data.from_in_progress"> 
          <button ng-click="doAcceptAndSend()" class="button button-block button-energized no-margin hide-on-keyboard-open button_taller" style="position:absolute;bottom:0px;">
            {{'menu.withdraw'|translate|uppercase}}
          </button>
        </fieldset>
      </div>
    </ion-content>

  </ion-view>
