<ion-view class="dark" title="{{'menu.withdraw'|translate}}">
    <ion-nav-buttons side="left">
      <button ng-click="goHome()" class="button button-icon icon ion-ios-arrow-back"></button>
    </ion-nav-buttons>
    
    <ion-content class="has-header register withdraw" has-bouncing="false" scroll="false" overflow-scroll="false">
        <ion-scroll zooming="false" direction="y" class="register_details margin-bottom-buttonNOT">
          <div class="energized_bg register_container" ng-show="data.step==1">
            <h4 class="register_color" ng-bind-html="'withdraw.headline'|translate:{asset:wallet.asset}"></h4>
          </div>
          <div class="step1">
            <div class="register_container energized_bg register_color">
              <p ng-bind-html="'withdraw.headline2'|translate"></p>
            </div>
            <div class="list settings quote" id="quote_ttl">
              <div class="row" ng-cloak>
                <div class="item-input-inset bitcoin_address">
                  <label class="item item-input item-floating-label" style="width:300px;">
                    <span class="input-label">{{'g.withdraw_address'|translate}}</span>
                    <input required name="transactionAddress" ng-model="data.bitcoin_address" type="text" placeholder="{{'g.withdraw_address'|translate}}" class="big big_placeholder">
                  </label>
                  <button ng-click="pasteBitcoinAddress()" class="button button-outline button-stable button-small icon" style="margin-top:20px;">
                    <i class="fa fa-paste"></i>
                  </button>
                  <div class="line-divider" style="clear:both;"></div>            
                </div>
                <span class="quote_error assertive" ng-show="data.address_error!==undefined">{{data.address_error}}</span>
              </div>
              
              <div class="row" ng-cloak>
                <div class="col col-50">
                  <label class="item item-input item-floating-label">
                    <span class="input-label">{{wallet.asset.symbol}}</span>
                    <input type="number" placeholder="{{wallet.asset.symbol}}" ng-model="data.amount_usd">
                    <i class="icon ion-loading-c" ng-cloak ng-show="data.quoting_usd"></i>
                    <div class="line-divider"></div>            
                  </label>
                  <span class="quote_error assertive" ng-show="data.quoting_btc_error!==undefined">{{data.quoting_btc_error}}</span>
                </div>
                <div class="col col-50">
                  <label class="item item-input item-floating-label">
                    <span class="input-label">BTC</span>
                    <input type="number" placeholder="BTC" ng-model="data.amount_btc">
                    <i class="icon ion-loading-c" ng-cloak ng-show="data.quoting_btc"> </i>
                    <div class="line-divider"></div>   
                  </label>
                  <span class="quote_error assertive" ng-show="data.quoting_usd_error!==undefined">{{data.quoting_usd_error}}</span>
                </div>
              </div>
              <div id="row" class="chart_container">
                <span class="assertive padding" ng-show="data.timer.expired==1">{{'err.quote_expired_requote'|translate|uppercase}}</span>
              </div>
            </div>
          </div>
        </ion-scroll>
      
        <button ng-click="doWithdraw()" class="button button-block button-energized no-margin hide-on-keyboard-open button_taller" style="position:absolute;bottom:0px;">
          {{'menu.withdraw'|translate|uppercase}}
        </button>
    </ion-content>

  </ion-view>
  
  <script id="sending-modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar align-title="middle" class="bar-energized nav-title-slide-ios7">
        <div class="title">{{'withdraw.in_progress'|translate}}</div>
      </ion-header-bar>
      
      <ion-content class="has-header">
        <div class="row">
          <div class="transaction_steps">
            <h2 style="text-align:center;" class="step_doing positive">
              {{transaction.message|translate}}<i class="ion-loading-a" data-pack="default" data-tags="spinner, waiting, refresh, animation" data-animation="true"></i>
            </h2>
          </div>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>