<ion-view class="dark" title="{{'detail.transaction_details'|translate}}">
    <ion-nav-buttons side="left">
      <button ng-click="goHome()" class="button button-icon icon ion-ios-arrow-back"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
    
    <ion-content class="has-header" has-bouncing="false">
      <div class="register_container energized_bg register_color padding">
        <div class="padding wrap_text">
          You have {{data.xtx|xtx_action|lowercase}} <b>{{data.xtx.cl_recv|number:4}}&nbsp;{{data.xtx.cl_recv_curr}}</b> 
          <br/>{{'home.on'|translate}} {{ data.xtx.quoted_at|date:'medium'}}
          <br/>Transaction status: {{data.xtx|xtx_status}}
        </div>
      </div>
      <div class="energized_bg register_color padding">
        {{'g.exchange_details'|translate}}
      </div>
      <div ng-include src="'templates/xtx.include.html'"></div>
      <!--div class="energized_bg register_color padding">
        {{data.xtx|xtx_action|capitalize}} transaction details
      </div -->
      <!-- div ng-include src="'templates/tx.include.html'"></div -->
      
    </ion-content>
  </ion-view>
  
