<ion-view class="dark" title="{{'detail.transaction_details'|translate}}">
    <ion-content class="has-header assets base-color_bg padding" scroll="true" scrollbar-y="true" has-bouncing="false">
    
      <div class="list balances">
        <div class="item item-divider green_bg color_white">
          <span class="tx_desc">{{data.tx.amount_asset.symbol_ui_text}}{{data.tx.amount|number:2}} {{('tx.'+data.tx.ui_type)|translate}}</span> 
        </div>
        
        <div class="item base-color">
          <div class="asset_data">
            <strong>Amount</strong>
            <br/>
            <span> 
              {{data.tx.amount_asset.symbol_ui_text}}{{data.tx.amount|number:2}} ( {{data.tx.btc_amount|number:2}}BTC)
            </span>
          </div>
        </div>
        
        <div class="item base-color">
          <div class="asset_data">
            <strong>BTC</strong>
            <br/>
            <span> 
              {{data.tx.btc_amount|number:2}} BTC
            </span>
          </div>
        </div>
        
        <div class="item base-color">
          <div class="asset_data">
            <strong>BTC rate</strong>
            <br/>
            <span> 
              {{data.tx.rate|number:2}} {{data.tx.amount_asset.symbol}}/BTC
            </span>
          </div>
        </div>

        <div class="item base-color">
          <div class="asset_data">
            <strong>Transaction status</strong>
            <br/>
            <span> 
              {{('xchg.'+data.tx.status)|translate}}
            </span>
          </div>
        </div>
        
        <div class="item base-color">
          <div class="asset_data">
            <strong>Asset</strong>
            <br/>
            <span> 
              {{data.tx.amount_asset.symbol}} ({{data.tx.amount_asset.name}})
            </span>
          </div>
        </div>

        <div class="item base-color">
          <div class="asset_data">
            <strong>Date</strong>
            <br/>
            <span> 
              {{(data.tx.created_at*1000)|date:'medium'}}
            </span>
          </div>
        </div>

        <div class="item base-color" ng-show="data.show_extra==false">
          <div class="asset_data text_centered">
            <a ng-click="data.show_extra= (!data.show_extra)">More data...</a>
          </div>
        </div>
        
        <div class="item base-color" ng-show="data.show_extra==true">
          <div class="asset_data">
            <strong>Bitshares Transaction id</strong>
            <br/>
            <span> 
              {{data.tx.bitshares_txid?data.tx.bitshares_txid:'N/A'}}
            </span>
          </div>
        </div>

        <div class="item base-color" ng-show="data.show_extra==true">
          <div class="asset_data">
            <strong>Bitcoin Transaction id</strong>
            <br/>
            <span> 
              {{data.tx.bitcoin_txid?data.tx.bitcoin_txid:'N/A'}}
            </span>
          </div>
        </div>

      </div>
    </ion-content>
  </ion-view>
  
