      <div class="list tx_details settings">
        <div class="item item-divider">
          {{'detail.info'|translate}}
        </div>
        <div class="item">
          <div class="row">
            <div class="col col-25">You {{'g.paid'|translate}}</div>
            <div class="col col-75 ta_right">{{ data.xtx.balance}} of {{ data.xtx.cl_pay}} {{ data.xtx.cl_pay_curr }}</div>
          </div>
          <div class="row">
            <div class="col col-25">You {{'g.received'|translate}}</div>
            <div class="col col-75 ta_right">{{ data.xtx.cl_recv}} {{ data.xtx.cl_recv_curr }}</div>
          </div>
          <div class="row">
            <div class="col col-25">{{'g.exchanged'|translate}}</div>
            <div class="col col-75 ta_right">{{ data.xtx.cl_pay_curr }} to {{ data.xtx.cl_recv_curr }}</div>
          </div>
          <div class="row">
            <div class="col col-25">{{'g.exchange_rate'|translate}} {{ data.xtx.cl_pay_curr }}/{{ data.xtx.cl_recv_curr }}</div>
            <div class="col col-75 ta_right">{{ data.xtx.rate|number:8 }}</div>
          </div>
          <div class="row">
            <div class="col col-25">{{'g.quoted_at'|translate}}</div>
            <div class="col col-75 ta_right">{{data.xtx.quoted_at|date:'medium'}}</div>
          </div>
          <div class="row">
            <div class="col col-25">{{'g.asset'|translate}}</div>
            <div class="col col-75 ta_right">{{wallet.assets[data.xtx.x_asset_id].symbol}} ({{data.xtx.x_asset_id}})</div>
          </div>
          <div class="row">
            <div class="col col-25">{{'g.fee'|translate}}</div>
            <div class="col col-75 ta_right">{{wallet.assets[data.xtx.x_asset_id].symbol}} {{'?'}}</div>
          </div>
        </div>
      </div>
