<ion-view class="dark" title="{{'menu.rate_changed'|translate}}">
    
    <ion-nav-buttons side="right">
      <button ng-click="popover.show($event)" class="button button-icon icon ion-android-more-vertical "></button>
    </ion-nav-buttons>

    <ion-content class="has-header requote" has-bouncing="false">
      <div>
        <div class="list rate_changed">
          <div class="item item-divider base-color larger bgcolor_white">
            <span class="tx_desc wrap_text" ng-bind-html="'rate_changed.headline'|translate:{action:data.xtx.extra_data}"></span> 
          </div>
          <div class="item base-color">
            <div class="">
              <strong>New rate</strong>
              <span class="float_right"> 
                {{data.quote.rate | currency : data.quote.book}}&nbsp;{{data.quote.book | book2rate}}
              </span>
            </div>  
          </div>
          <div class="item base-color">
            <div class="">
              <strong>You already transfered</strong>
              <span class="float_right"> 
                {{data.quote.cl_pay | currency : data.quote.cl_pay_curr}}&nbsp;{{data.quote.cl_pay_curr}}
              </span>
            </div>  
          </div>
          <div class="item base-color">
            <div class="">
              <strong>You will receive</strong>
              <span class="float_right"> 
                {{data.quote.cl_recv | currency : data.quote.cl_recv_curr}}&nbsp;{{data.quote.cl_recv_curr}}
              </span>
            </div>  
          </div>
          <div class="item" style="color:#cecece;">
            <div class="">
              <strong>Old rate</strong>
              <span class="float_right"> 
                {{data.xtx.rate | currency : data.xtx.book}}&nbsp;{{data.xtx.book | book2rate}}
              </span>
            </div>  
          </div>
        </div>
      </div>
      
      <div class="buttons_container hide-on-keyboard-open ">
        <button ng-click="xxxx()" class="button button-block button no-margin hide-on-keyboard-open button_taller dock_bottom button-energized  color_white">
          {{'rate_changed.accept_requote'|translate|uppercase}}
        </button>
      </div>
    </ion-content>

  </ion-view>

<script id="templates/rate_changed_popover.html" type="text/ng-template">
    <ion-popover-view style="height:110px;">
      <ion-content>
        <div class="list" >
          <a class="item" ng-click="doRequote()">
            {{'g.get_new_quote'|translate}}
          </a>
          <a class="item" ng-click="refund()">
            {{'g.refund'|translate}}
          </a>
        </div>
      </ion-content>
    </ion-popover-view>
  </script>