# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
npm-debug.log
resources/ios/
www/.DS_Store
www/css/.DS_Store
www/lib/ion-autocomplete/dist/.DS_Store