.html, body {
    height: 100%;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/*
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(../fonts/7m8l7TlFO-S3VkhHuR0atyYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
*/
html, body {
  font-family: 'Roboto' !important;
}

/**************/
/* BAR hack ***/
/**************/
.bar.bar-energized {
  background-image:none!important;
  color: #fff;
}

ion-nav-view {
  background-color: #fff!important;
}
/*ion-nav-bar.bar-energized{
  background-image: none!important;
}*/

.logo-center{
  margin: 0 auto;
  display: block;
}

.bar .fa {font-size: 25px;
line-height: 38px;}
.fa.fa16 {font-size: 16px!important;line-height: 18px;}
.fa.fa18 {font-size: 18px!important;line-height: 20px;}
.fa.fa20 {font-size: 20px!important;}
.fa.fa300{font-weight: 300;}
.icon.icon26 {font-size:26px!important;}

.tab-item .fa{
  font-size: 30px!important;
  line-height: 40px!important;}
.receive_payment .tab-item{opacity: 1!important; }

.has_header_padded {padding-top:44px!important;}

.balance_container{
  color:#ffffff;
  height:80px;
  width:100%!important;
}
.balance_container_full{
  /*height:147px;*/
  height:158px;
}
.balance{text-align:center;padding-top: 15px;}
.balance.hidden{padding-top: 25px;}
.balance_text{font-size:38px;line-height:38px;color:#caee36;}
.balance_text i {font-size:25px;vertical-align:middle!important;line-height: 25px;}
.balance_curr { font-size:14px; color:#69818d;}
.balance_hidden_text{font-size:35px;line-height:35px;letter-spacing: -2px;}
.balance_hidden_text i.fa {vertical-align:top;}

.balance_container_full .button-bar_container {width:300px;margin:0 auto;display:block;}
.balance_container_full .button-bar {padding-top:28px;padding-bottom:28px;}

.display_table{display:table;}
.display_table_cell{display:table-cell;}
.display_table_cell.vmiddle{vertical-align:middle;}

.index_buttons{
  overflow:hidden;padding:5px 0 10px 0;height:87px;
}
.index_buttons2{height:67px;}
.index_buttons .button_send{
  padding-left:8px;
  padding-right:4px;
  /*padding-left:4%;
  padding-right:2%;*/
  /*padding-right:2px;*/
  width:50%;
  float:left;
  text-align:center;
}
.button-assertive2{
  background-color:#E67E22!important;
  border-color:#E67E22!important;
  color:#ffffff!important;
}
.index_buttons .button_receive{
  padding-left:4px;
  padding-right:8px;
  /*padding-left:2%;
  padding-right:4%;*/
  /*padding-left:2px;*/
  width:50%;
  float:left;
  text-align:center;
}
.button-balanced2{
  background-color:#2ECC71!important;
  color:#ffffff!important;
}

.index_buttons .button_receive a.button, .index_buttons .button_send a.button{
  border-radius:0px;
}
.index_transactions, .addys_empty, .restore_wallet_textarea, .addys_balances_scroll, .register_details, .txs_empty{
  display:block;
  overflow: hidden;
  width:100%;
  top:158px;
  position:absolute!important; bottom:0;
  }
.addys_empty{top:0px!important;}
.restore_wallet_textarea{top:43px!important;bottom:67px;}
.addys_balances_scroll{top:342px!important;}
.register_details{top:0px!important;margin-bottom:20px;}
.margin-bottom-button{margin-bottom:67px;}
.txs_empty{top:0px!important;margin-bottom:67px;}

.row75{
  height: 75% !important;
}
.scroll{
  height:100% !important;
}

.transactions div.list {height:100%; padding-top:20px;}
.transactions h2 {font-size:14px!important;}
/* ***************************************** */
/* received */
.transactions .received .sent_ex{display:none;}
.transactions .received .self_ex{display:none;}
.transactions .received .deposit_ex{display:none;}
.transactions .received .withdraw_ex{display:none;}
.transactions .received .btc_pay_ex{display:none;}
/* sent */
.transactions .sent .received_ex{display:none;}
.transactions .sent .self_ex{display:none;}
.transactions .sent .deposit_ex{display:none;}
.transactions .sent .withdraw_ex{display:none;}
.transactions .sent .btc_pay_ex{display:none;}
/* self */
.transactions .self .received_ex{display:none;}
.transactions .self .sent_ex{display:none;}
.transactions .self .deposit_ex{display:none;}
.transactions .self .withdraw_ex{display:none;}
.transactions .self .btc_pay_ex{display:none;}
/* deposit */
.transactions .deposit .received_ex{display:none;}
.transactions .deposit .sent_ex{display:none;}
.transactions .deposit .self_ex{display:none;}
.transactions .deposit .withdraw_ex{display:none;}
.transactions .deposit .btc_pay_ex{display:none;}
/* withdraw */
.transactions .withdraw .received_ex{display:none;}
.transactions .withdraw .sent_ex{display:none;}
.transactions .withdraw .self_ex{display:none;}
.transactions .withdraw .deposit_ex{display:none;}
.transactions .withdraw .btc_pay_ex{display:none;}
/* btc_pay */
.transactions .btc_pay .received_ex{display:none;}
.transactions .btc_pay .sent_ex{display:none;}
.transactions .btc_pay .self_ex{display:none;}
.transactions .btc_pay .deposit_ex{display:none;}
.transactions .btc_pay .withdraw_ex{display:none;}
/* pending */
/*.transactions .pending .sent_ex{display:none;}
.transactions .pending .received_ex{display:none;}
.transactions .pending .self_ex{display:none;}
.transactions .pending .deposit_ex{display:none;}
.transactions .pending .withdraw_ex{display:none;}
.transactions .pending .btc_pay_ex{display:none;}*/

h2 .transactions .sent_ex, h2 .transactions .received_ex, h2 .transactions .self_ex, h2 .transactions .deposit_ex, h2 .transactions .withdraw_ex, h2 .transactions .btc_pay_ex{font-size:16px;}

.transactions .withdraw .tx_address, .transactions .deposit .tx_address, .transactions .btc_pay .tx_address { display:none;}

.tx_icon {  width: 24px ;}
.icon_receive   {background-image: url(../img/icons/ico-received.svg);}
.icon_send      {background-image: url(../img/icons/ico-sent.svg);}
.icon_self      {background-image: url(../img/icons/ico-received.svg);}
.icon_withdraw  {background-image: url(../img/icons/ico-withdraw.svg);}
.icon_deposit   {background-image: url(../img/icons/ico-deposit.svg);}
.icon_btc_pay   {background-image: url(../img/icons/ico-payments.svg);}

.lime_icon           { background-size: 24px 24px !important; 
                       background-position:center center!important;
                       background-repeat: no-repeat!important;
                       width:32px;height:38px;}
.lime_icon.navicon_w { background-image: url(../img/icons/menu-white.svg)!important ;}
.lime_icon.qr i      { font-size:20px!important; /*background-image: url(../img/icons/ico-qr.svg) !important ;*/}

.lime_settings_icon           { background-size: 16px 16px !important; 
                                background-position:center center!important;
                                background-repeat: no-repeat!important;}
.lime_settings_icon.logout    { background-image: url(../img/icons/ico-logout_gray.svg);}
.lime_settings_icon.settings  { background-image: url(../img/icons/ico-settings_gray.svg);}
.lime_settings_icon.assets    { background-image: url(../img/icons/ico-assets-2.svg); height:16px; width:32px; left:11px;}
.lime_settings_icon.assets    { background-image: url(../img/icons/ico-assets-2.svg); height:16px; width:32px; left:11px;}

.lime_settings_icon.deposit   { background-image: url(../img/icons/ico-deposit_lime.svg); height:16px; width:32px; left:11px;}
.lime_settings_icon.withdraw  { background-image: url(../img/icons/ico-withdraw_lime.svg); height:16px; width:32px; left:11px;}

.pending_text {
  float:right;font-size:0.7em;
  position: absolute;
  right: 15px;
  padding:3px;
  color: #ededed!important;
  background-color: #4fbaed!important;
}

/* semaforo verde amarillo rojo(gris) */
.pending_text.WP_NOT_USED{background-color: #d23f31;}/*WAITING PAYMENT celeste*/
.pending_text.PP{background-color: #F1C40F!important;}/*PARTIALY PAID*/         /* amarillo */
.pending_text.FP{background-color: #F1C40F!important;}/*FULLY PAID*/            /* amarillo */
.pending_text.WT{background-color: #F1C40F!important;}/*WAITING TRADES*/        /* amarillo */
.pending_text.RC{background-color: #E74C3C!important;}/*RATE CHANGED*/          /* rojo */
.pending_text.WC{background-color: #F1C40F!important;}/*WAITING CONFIRMATION*/  /* amarillo */
.pending_text.PC{background-color: #2ECC71!important;}/*PAYMENT CONFIRMED*/               /* verde */
.pending_text.TG{background-color: #2ECC71!important;}/*TRANSACTION GENERATED*/           /* verde */
.pending_text.SC{background-color: #2ECC71!important;}/*SENT TO CLIENT*/                  /* verde */
.pending_text.OK{background-color: #66cc33!important;}/*COMPLETED*/             /* verde */
.pending_text.XX{background-color: #ECF0F1!important;color:#666666!important;}/*CANCELED*/ /* rojo (gris) */
.pending_text.RR{background-color: #ECF0F1!important;color:#666666!important;}/*REFUNDING*/ /* rojo (gris) */
.pending_text.RF{background-color: #ECF0F1!important;color:#666666!important;}/*REFUNDED*/ /* rojo (gris) */

.pending_text.EX{background-color: #ECF0F1!important;color:#666666!important;}/*EXPIRED*/ /* rojo (gris) */
/*WAITING_PAYMENT         = 'WP'
PARTIALY PAID           = 'PP'
FULLY PAID              = 'FP'
WAITING_TRADES          = 'WT'
RATE_CHANGED            = 'RC'
WAITING_CONFIRMATION    = 'WC'
PAYMENT_CONFIRMED       = 'PC'
TRANSACTION_GENERATED   = 'TG'
SENT_TO_CLIENT          = 'SC'
COMPLETED               = 'OK'
CANCELED                = 'XX'
REFUND_REQUESTED        = 'RR'
REFUNDED                = 'RF'

EXPIRED                 = 'EX'
*/
.transactions .pending h2, .transactions .pending .icon , .transactions .pending span, .transactions .pending p
{color:#4fbaed;} /*c1c1c1 4fbaed*/

.transactions p , .transactions span.tx_address {font-size:12px!important;}
.transactions span.tx_amount{font-weight:700;font-size:16px!important;}
.transactions span.tx_label {font-size:14px;}

.ta_right{text-align:right;}
.float_right{float:right;}
.margin_r_16 {margin-right:16px!important;}
.float_left{float:left;}
.no_transactions{width:100%;color:#c1c1c1;text-align:center;font-size:1.2em; height:100%;}
.no_transactions i.icon{font-size:30px!important;}

.action_container{display:block;width:100%;height:67px;position:absolute;bottom:0;z-index:5;}
.action_container2{display:block;width:100%;height:87px;}
.action_container .one_of_two_buttons , .action_container2 .one_of_two_buttons {width:50%;float:left;}
.action_container .one_of_three_buttons{width:33%;float:left;}
.action_container .one_of_two_buttons .button{ border-radius: 0px;}
input.numeric {text-align:right!important;}
span.error, input.error{color:#ef4e3a!important;}
span.input.error{text-align:right;display:inline-block;padding:5px;width:100%;}
.wallet_textarea{width:100%;height:200px;}
NOTtextarea.wallet_input{width:100%;height:100%; box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.big_placeholder::-webkit-input-placeholder{font-size: 16px!important;}
.big_placeholder:-moz-placeholder{font-size: 16px!important;}
.big_placeholder::-moz-placeholder {font-size: 16px!important;}
.big_placeholder:-ms-input-placeholder {font-size: 16px!important;}
/* webkit solution */
.big_placeholder.right::-webkit-input-placeholder { text-align:right; }
/* mozilla solution */
.big_placeholder.right:-moz-placeholder { text-align:right; }
input.big::-webkit-input-placeholder{font-size: 16px!important;}
input.big:-moz-placeholder{font-size: 16px!important;}
input.big::-moz-placeholder {font-size: 16px!important;}
input.big:-ms-input-placeholder {font-size: 16px!important;}

.input_amount{text-align:right;}
.input_amount::-webkit-input-placeholder{text-align: left;}
.input_amount:-moz-placeholder{text-align: left;}
.input_amount::-moz-placeholder {text-align: left;}
.input_amount:-ms-input-placeholder {text-align: left;}

input.big {
  height: 40px!important;
  /*font-size: 26px!important;
  line-height: 32px!important;*/
  font-size: 13px!important;
  line-height: 26px!important;
  }

/*****************/
/* MENU **********/
/*****************/

.menu_bg {background: -webkit-linear-gradient(33deg, rgba(26,66,84,1) 0%, rgba(26,67,86,1) 100%);background: -o-linear-gradient(33deg, rgba(26,66,84,1) 0%, rgba(26,67,86,1) 100%);background: linear-gradient(123deg, rgba(26,66,84,1) 0%, rgba(26,67,86,1) 100%); }
.transparent_bg {background-color:transparent!important;}

.menu div.list{height:100%!important;}
.list .dock_bottom, .dock_bottom{
  position: absolute!important;
  bottom: 0px!important;
  width: 100%;
}
.menu div.list .item{border-width:0px!important;}
.menu div.list .item.top_border_on{border-width:1px!important;}
.bar.bar-dark.menu_header {border-color:transparent!important;}   
.menu .menu_header{
  background-image:none!important; 
  border-color: #000000;
  }  
.menu  {background-color:  transparent!important; /* #363636!important;*/}
.menu .item, .menu .item-complex .item-content{
  /*border-color: #4c4c4c!important;*/
  border: none!important;
  background-color: transparent!important; /*#363636!important;*/
  color: #ececec!important;
  font-size: 12px;
}
.menu .item.wallet a{background-color: transparent; /*#222222!important;*/}
.menu .list .item_first{ border-top:none;}

.menu .line-divider{padding: 0px;margin-left: 28px;margin-right: 28px;background-color: #2e444f!important;height: 1px;}

.menu .menu_header{height:267px!important;}           /* 132 */
.menu .scroll-content.has-header{top:267px!important;}  /* 132 */
 
.platform-ios .menu .menu_header{height:152px!important;}
.platform-ios .menu .scroll-content.has-header{top:152px!important;}

.menu  .menu_container{
  padding:45px 16px 16px 16px;
  height: 100%!important;
  width:100%;
  margin-bottom: 0px;
}
.menu  .menu_container .menu_avatar{
  height: 80px;
  text-align:center;
}
.menu  .menu_container .menu_avatar canvas, .menu  .menu_container .menu_avatar img{
  /*position: absolute;
  top: 10px;*/
  left: 0px;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: #fff;
  }
  
.menu  .menu_container .menu_name{
  height: auto;line-height: 18px;
  padding-top: 18px;display:block;width:100%;text-align:center;
}

.menu  .menu_container .menu_name label{
  font-size:16px!important;
  color:#f3f5f6;
}

.menu  .menu_container .menu_balance{
  height: auto;line-height: 24px;
  padding-top: 18px;display:block;width:100%;text-align:center;
}
.menu  .menu_container .menu_balance label{
  font-size:24px!important;
}

.menu  .menu_container .c {align-items:stretch;display:flex;}
.menu  .menu_container .c1x{width:50px;}
.menu  .menu_container .c2x{width:133px;}
.menu  .menu_container .c3x{width:50px;}

/* END MENU ****/

/* Overwrites-fixes ionic header for ios6 */
.platform-ios.platform-cordova.platform-ios6:not(.fullscreen) .bar-header:not(.bar-subheader){
    height: 44px;
}
.platform-ios.platform-cordova.platform-ios6:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
    margin-top: 0px;
}
.platform-ios.platform-cordova.platform-ios6:not(.fullscreen) .has-header,
.platform-ios.platform-cordova.platform-ios6:not(.fullscreen) .bar-subheader {
    top: 44px;
}

/* Restore view */
.restoreForm{
  position:absolute;
  top:0px;bottom:65px;
  width:100%;
  overflow:hidden;
}

.restoreForm_inputs{
  /*height: 95%;
  display: block;position:relative;
  */
  
  display: block;
  position:relative;
  overflow:hidden;
  margin:0px 0px 20px 0px !important;
  /*
  position: absolute!important;
  width: 100%;
  bottom: 10px;
  top: 10px;
  margin:0px 20px 0px 0px !important;
  overflow:hidden !important; */
}

.restoreForm_inputs.list:last-child.card {
margin-bottom: 20px!important;
}

.keyboard-open .restoreForm{/*bottom:0px;*/}  
.keyboard-open .restoreForm_inputs{
  /*height: 100%;  */
}
.tx_details .row{ margin-top:0px!important;padding:0!important;}
.tx_details .row .col{font-size:11px!important;}

.full_width{width:100%;}
div.text_centered{text-align: center;}
img.i_centered {margin-left: auto;
    margin-right: auto;
    }

.item-input-wrapper.wrapper_clean{ 
  background-color:transparent!important; 
  display: flex;
  position: relative;
  overflow: hidden;
  /*padding: 0px 4px 5px 4px; 6px 0 5px 16px*/
  border-radius: 0px;
  padding: 6px 0 5px 16px;
  }
.item-input-wrapper.wrapper_clean input{ padding-left: 0px!important;  }

.slider{
  /*overflow-y:auto!important;*/
  height:90px!important;
}

/*.slider-slides{width: 100%!important;}*/

.slider-pager {
	/*top: 0;*/
	bottom: 7px!important;
}

.slider-pager .slider-pager-page {
  height:15px!important;
  display:inline!important;
  color:#fff!important; 
}
.slider-pager .slider-pager-page i.icon{font-size:10px;}

.btc{/*color:#ef7a40;*/}
.usd{/*color:#93c356;*/}
.gold{/*color:#d3b957;*/}
.cny{/*color:#df565c;*/}
.asset_img{height:40px;width:40px;}
.asset_list .asset_img {margin-right: 16px;}
.list.asset_img {
    float: left;
    max-height: 40px;
    max-width: 40px;
    margin-right: 1em;
    border-radius: 4px;
}

/*.default_addr h3, .default_addr h4, .default_addr p, .default_asset h2, .default_asset p{color:#ffffff!important;}*/
/*.default_asset,  .default_addr{background-color:#007DC4!important;} */
.asset_list h2, .addr_list h3 {color:#003762;}
.hidden_asset {background-color:#eeeeee!important;} /*acfa84*/
.badge-default{
  display: flex;
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #007DC4!important;
  color: #ffffff;
  z-index: 1;
  padding: 3px 8px 2px 8px;
  min-width: 10px;
  border-radius: 10px;
  vertical-align: baseline;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  text-transform:uppercase;
}

/********************/
/* ACCORDION        */
/********************/
.list .item.item-accordion {
  height: 38px;
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  height: 0px;
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

/*******************************/
/* LISTS (Settings & balances) */
/*******************************/
.list.settings {padding: 25px 15px 15px 15px;}
.list.settings .item span.addy{
  font-size:14px;
}
.list.settings .item, .list.balances .item, .list.addys_balances .item, .main_transactions .item{
  border-color:transparent!important;
  border:none;
  border-width: 0px; 
  /*border-style: solid; */
}
.list.settings .item, .list.settings .item .input-label  {
    height: 72px;
    align-items: center;
    display: flex;
    font-size:14px;}
.list.settings .item.item-toggle .toggle        { top: 20px;}
.list.settings .toggle.toggle-green input:checked + .track {
  border-color: #93c91f;
  background-color: #93c91f;}
.list.settings .item.item-select:after          { color:#93c91f;}
.list.settings .item.item-button-right > button {top:12px;}

.main_transactions h2 , .main_transactions p {margin:0!important;}

.list.settings .item .line-divider, .list.settings .line-divider, .main_transactions .line-divider{
  clear: both;
  position: absolute;
  bottom: 1px;
  left: 16px;
  background-color: #eee;
  /* margin-left: 16px; */
  width: 100%;
  height: 1px;
}
.main_transactions .line-divider{left: 55px;}
.main_transactions .line-divider.last{display: none;}
.list.settings .item .line-divider2{
  margin-left: 16px;
  background-color: #eee;
  /* margin-left: 16px; */
  width: 100%;
  height: 1px;
}

.transactions .memo {color:#b9b9b9!important; clear:both;}

.list.settings .item-divider, .index_transactions .item-divider
{
  /*background-color: #ECF0F1!important;
  color:#666666!important;*/
  
  background-color: #ffffff!important;
  color:#b9b9b9!important;
  
  font-size:14px;
  padding-top: 18px;
  padding-bottom: 4px;
  min-height: 44px;
  text-transform:uppercase;

  border-color:transparent!important;
  border:none;
  border-width: 0px; 
}
.index_transactions .item-divider{
  font-size:14px;
  /*font-weight: bold;*/
  padding-top: 5px!important;
  padding-bottom: 4px!important;
  height: 28px!important;
  min-height: 28px!important;
}

.index_transactions ._0_today {display:none!important;}

.list.settings .input-label, .input-label, .list.settings .item.item-toggle{
  /*color: #999!important;*/
}

.list.settings img.avatar_rounded{
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background-color: whitesmoke;
}

.list.settings .item.ng-hide-remove{
  /* the transition is defined in the active class */
  transition: 1s linear all;
}

.list.addys_balances .addys.ng-hide-remove {
  /* the transition is defined in the active class */
  transition: 3s linear all;
}

.list.settings .not_enabled{
  background-color:#f0f0f0;
}

/* *************** */
/* REGISTER ********/
/* *************** */
.register {
    align-self: flex-start;
    width: 100%;
    height:100%!important;
    position:relative; 
    color: #c0c0c0;
    padding-top:88px!important;
    /*padding-left:55px;
    padding-right:44px;*/
  }
.register p{padding-top:20px;font-size:14px;}  
.register .list.settings{margin-bottom:47px!important;}
.register_container {
  padding: 10px 10px 10px 0px;
}
.register_container h4{ padding-left:16px}
.register_container p{ padding-left:16px}
.register_container, .register_color{color:#fff!important;}

.register .buttons_container {align-self: flex-end;width: 100%;}
.register .buttons_container a{margin-bottom:33px!important;}

.no-margin {margin:0!important;}
/*.register .list.settings {margin-bottom:67px!important;}*/
/******************/
/* BALANCES */

.list.balances{
  margin-bottom:5px!important;
  /* box-shadow: 0 3px 7px 0 rgba(90, 187, 92, 1); */
  /* box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.24); */
}

.list.balances .item{ 
  height:78px; 
  padding-left: 28px;
  padding-right: 28px;
  font-size: 12px;}
.list.balances .item .asset_data{
  /*margin-left: 72px;*/
  height: 56px;
  padding-top: 15px;
}
.deposits .list.balances .item .asset_data{padding-top: 0px!important;}
.list.balances .item .asset_data{
  /*color: #aaa;*/}
.list.balances .item .asset_balance{
  float: right;
  /*font-size: 16px;*/
  /*color: #aaa;*/
}

.list.balances .item .asset_balance .balance_amount{
  /*font-weight: bold;*/
}
.list.balances.contacts .item.base-color:first-child{border-top-left-radius:4px;border-top-right-radius:4px;}
.list.balances .item.base-color:last-child{border-bottom-left-radius:4px;border-bottom-right-radius:4px;}
.list.balances .item-divider {display:flex;align-items:center;border-top-left-radius:4px;border-top-right-radius:4px;}
.list.balances .item-divider span {width:50%;}
.fab {
      position: relative;
      display: inline-block;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      color: #fff;
      overflow: hidden;
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
/* 78 */
.fab {
    position: absolute;
    top:16px;
    left:16px;
}      
.fab.red {
  background-color: #d23f31;
}

.fab.blue, .list.balances .item.active{
  background-color:#2e99b7 /* ff8100 #007DC4 */; 
}

.deposits .fab  > i {
  display:block;
  margin: 13px 20px 21px 12px !important;
}

.list.balances .item.active .fab.blue{
  background-color: #fff!important;
  color:#2e99b7 /* ff8100 #007DC4 */; 
}

.fab.green {
  background-color: #0f9d58;
}

.fab:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}

.fab > i {
  margin: 15px 15px 21px 17px !important;
}
.fab > i.fa-btc {
  margin: 14px 20px 20px 16px !important;
}

.fab > i.ozt {
  display:block;
  margin: 13px 20px 21px 12px !important;
}
.fab > i::shadow path {
  fill: #fff;
}

.assets_by_address_title {
  clear: both;
  /*position: absolute;
  bottom: 1px;*/
  /*margin-left: 78px;*/
  /* margin-left: 16px; */
  width: 100%;
  /*height: 1px;*/
  /*
  color:#2e99b7; */
 padding:5px 5px 5px 16px;
  border-top: #ddd solid 1px;
  /*background-color:#2e99b7;*/
  /*color:#fff;*/
}

/******************************/
/*DEPOSIT *********************/ 
/******************************/
.deposit .quote i.icon.ion-loading-c , .withdraw .quote i.icon.ion-loading-c {
  position: absolute;
  top: 42px;
  right: 16px;
  color: #999;
}
.button_taller {height:67px!important;line-height:67px!important;margin-top:0px!important;margin-bottom:0px!important;}
/*.button.dock_bottom{ position:absolute;bottom:0px;}*/
.button_taller i.icon {vertical-align: middle!important;}

.rotate45{
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.rotate90{
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.rotate270{
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.deposit h3, .withdraw h3{
  color: #fff;
  padding-left: 16px;
}
 
p.bitcoin_uri {
  padding: 16px;
  /*background-color: #eeeeee;*/
  font-size:18px!important;
  } 

.wrap_text{
  -ms-word-break: break-all;
  /* Be VERY careful with this, breaks normal words wh_erever */
  word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  
  overflow: visible!important;
  white-space: normal!important;
}

span.quote_error{padding-left: 16px;}

.deposit .tab-item {max-width: 350px;}
.deposit a.tab-item i.fa{
  font-size: 26px!important;
  line-height: 50px!important;}
.deposit a.tab-item i.icon{
  font-size: 26px!important;}
.deposit div.qr_container{
  width:100%;
  text-align: center;
}
.deposit .qr_image{
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}

#qrcode {width:100%!important; height:auto;display:block;}

/* WITHDRAW */
.withdraw div.bitcoin_address{width:100%!important;padding:0!important;}
.withdraw div.bitcoin_address .line-divider{width:auto;right:65px!important;}

/* Pie Chart */
.instant_quote {line-height:50px;left: 16px;top: 20px;padding-left: 16px;position: absolute;}
.instant_quote2{line-height:20px;padding-left: 16px;position: relative!important;}

.chart_container{
  text-align:center;
  position:relative;
  }
.chart {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 16px;
  margin-bottom: 5px;
  text-align: center;
  margin-right:auto;
  margin-left:auto;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 50px;
  z-index: 2;
}
.percent:after {
  content: ''; /*'%'*/
  margin-left: 0.1em;
  font-size: .8em;
}

#mynano div, #mynano1 div, #mynano2 div, #mynano3 div{
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.50);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.50);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.50);
  background-color:#1b4356 /* 01bbf4 */; 
}

.button-bar.tabbed {
  /*margin-top:30px;*/
}

.button-bar.tabbed > .button{
  height:30px;
  line-height:30px!important;
  vertical-align:middle;
}

.button-bar.tabbed > .button i.icon{
  height:30px;
  line-height:30px!important;
  vertical-align:top;
}
.button-bar.tabbed > .button i.icon.fa{
  height:28px;
  line-height:28px!important;
}

.button-bar.tabbed > .button:first-child {
  border-radius: 6px 0px 0px 6px;
}

.button-bar.tabbed > .button:last-child {
  border-right-width: 1px;
  border-radius: 0px 6px 6px 0px;
}

.button-bar.tabbed > .button-energized{
  background-color:#fff;
  color:#1b4356 /*#01bbf4*/;
}

.button-bar.tabbed > .button-energized.active{
  background-color:#1b4356 /*#01bbf4*/;
  color:#fff;
}

.button-bar.tabbed > .button-send{
  background-color:#546979 /*#fff*/;
  color:#cad0d5 /*#1b4356 #01bbf4*/;
  border-color:#546979 /*#fff*/;
}

.button-bar.tabbed > .button-receive{
  background-color:#1b4356 /*#01bbf4*/;
  color:#546979 /*#fff*/;
  border-color:#546979 /*#fff*/;
}

.button-bar.tabbed > .button:before, .button-bar.tabbed > .button .icon:before {
  line-height: 30px!important;
}

.transaction_steps{padding:10px;}
.step_doing{padding:25px;}

.energized_bg h4{color:#fff!important;}

.col-20 {
  width: 20%; }
.col-47 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 47%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 47%;
  -ms-flex: 0 0 47%;
  flex: 0 0 47%;
  width: 47%; }

.rate_changed .new_rate.row {display:table; margin-top:15px;}
.rate_changed .new_rate .col-33 {display:table-cell!important;line-height:20px;vertical-align: text-bottom;padding-left:15px;}
.rate_changed .new_rate .col-47 {display:table-cell!important;line-height:20px;font-size:20px;vertical-align: text-bottom}
.rate_changed .new_rate .col-20 {display:table-cell!important;line-height:20px;vertical-align: text-bottom;}

/* HACK css > Ionic, v1.0.0-rc.1 */

.platform-android .action-sheet .action-sheet-title{
  text-align: center !important; 
}

.platform-android .action-sheet .button {
  text-align: center !important; 
  border-color: #d1d3d6!important; 
  /*color: #007aff!important; */
}

fieldset {
  margin: 0!important; 
  padding: 0!important;
  border: none!important;
}

.welcome, .create_account, .register{
    display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row wrap; /* Safari 6.1+ */
    display: flex;
    flex-flow: row wrap;
    padding-left:33px!important;padding-right:33px!important;
}
.welcome, .create_account{
    align-content: stretch;
    height:100%;
    -webkit-align-content: stretch; /* Safari 7.0+ */
}
.create_account                         { padding-top: 88px; width: 100%; color:#c0c0c0;}
.create_account .create_account_content { display:block;width:100%;}

.welcome .logo_container      { padding-top: 88px;
                                /* padding-left: 44px; */
                                color: #fff;
                                /* padding-right: 44px; */
                                text-align: center;
                                width: 100%;}
.welcome .logo_container img  { margin:0 auto;}
.welcome .buttons_container, .create_account .buttons_container   { align-self:flex-end;width:100%;padding-bottom: 88px;}
.create_account .buttons_container {padding-bottom: 33px!important;}
button.centered_autow {width:auto!important;margin:0 auto;}
.welcome .buttons_container a{text-transform: uppercase!important;}
.successful {  /*.register, */
    position:relative; 
    padding-top:88px;
    padding-left:55px;
    color:#fff;
    padding-right:44px;
    height:100%!important;}

.successful h2 {color:#fff;}
.successful a {width: 46px;
      height: 46px;
      border-radius: 50%;
      /*border: solid 1px #ECF0F1;
      color:#ECF0F1!important;*/}

.successful h2.amount {color:#2C3E50;font-weight: bold;}
.successful p.white {color:#ECF0F1;}
.successful p.bigger {color:#2C3E50;font-size: 16px;}

.create_account_passsword .buttons_container {text-align:center;}
.create_account_passsword .list_password .item.pmd.margin15 {margin-top:15px!important;}

.balance_container_full, .register, .welcome, .welcome_bg, .create_account, .create_account_bg, .register_bg {
  background: -moz-linear-gradient(123deg, rgba(26,66,84,1) 0%, rgba(26,67,86,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(26,67,86,1)), color-stop(100%, rgba(26,66,84,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(123deg, rgba(26,66,84,1) 0%, rgba(26,67,86,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(123deg, rgba(26,66,84,1) 0%, rgba(26,67,86,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(123deg, rgba(26,66,84,1) 0%, rgba(26,67,86,1) 100%); /* ie10+ */
  background: linear-gradient(327deg, rgba(26,66,84,1) 0%, rgba(26,67,86,1) 100%); /* w3c */
}

.create_account a, .create_account_seed a, .create_account_password a  { 
  font-size:13px; border-radius: 4px; text-transform:uppercase; max-height:47px;
  width: auto;
  min-width:100px;
  display: block; }

a.w_126 {min-width:126px!important;}
a.w_145 {min-width:145px!important;}
.seed_container {
  width:100%;
  margin:25px 0 25px 0;
  /*padding:25px;*/
  font-weight: bold; 
  /*font-size:18px;*/
}
.seed_container p{font-size:18px;}
.register .seed_container {margin:0px 0 25px 0!important;}

a.button.lime_border.activated{background-color:#d3eb00!important; color:rgba(26,66,84,1)!important;}

.create_account_password .list_password {
        position: relative;
        overflow: hidden;
        padding: 6px 0 5px 16px; }

/* Pseudo Material Design */
.light_navbar {background-color: #fff!important;
                box-shadow: 0px 0px 5px 0px #546979!important;}

label.pmd {padding-left:0px!important;}
input.pmd {font-size:16px!important;  color:#fff;border-top:none; border-left:none; border-right:none; border-bottom: 1px solid #d8d8d8 !important; background-color:transparent!important;}

.seed_container .item {border-color: transparent!important; 
                       background-color: transparent!important;
                      border-width: 0px!important; }

.seed_container input.pmd {font-size:16px!important;  color:#fff;border-top:none; border-left:none; border-right:none; border-bottom: 1px solid #d8d8d8 !important; background-color:transparent!important;}
.seed_container input.pmd:focus {border-bottom: 1px solid #d3eb00 !important;color:#d3eb00 !important;}

.seed_input_container {margin:25px 0 25px 0;}
.seed_input_container textarea.pmd {font-size:16px!important;  color:#fff;
      /*border-top:none; border-left:none; border-right:none; border-bottom:*/
      border:1px solid #d8d8d8 !important; 
      background-color:transparent!important;
      padding:10px;}
.seed_input_container textarea.pmd:focus {
      /*border-bottom:*/ border:; 1px solid #d3eb00 !important;
      color:#d3eb00 !important;}
.seed_input_container span.error {font-size:14px;width:100%;text-align:right;}
.seed_container span.error {font-size:14px;width:100%;text-align:right;}

.send_form {padding-top: 10px;}
.send_form .item-input-inset{padding:0px 8px 0px 0px!important}

.send_form input{color:#546979!important;}                      
.send_form input.pmd {font-size:14px!important; line-height:14px!important;
    border-top:none; border-left:none; border-right:none; border-bottom: 1px solid #d8d8d8 !important; 
    background-color:transparent!important;
    padding-right: 0px;
    margin-left: 8px;}
.send_form i.pmd{color:#eaeaea;font-size:28px!important; line-height:28px!important; position: absolute;top: 24px;right: 16px;}
.send_form label.pmd button{position: absolute;top: 10px;right: 5px;color:#eaeaea!important;}

.button_taller.dock_bottom.button-icon.ion-ios-paperplane {font-size: 40px!important;/*color:#fff !important;*/}

.send_form input.pmd.input_amount{font-size:32px!important; line-height:32px!important;padding-right: 25px;}
.send_form input.pmd:focus {border-bottom: 1px solid #8ec919 !important;}    
.send_form textarea.pmd {font-size:14px!important;border-top:none; border-left:none; border-right:none; 
              border-bottom: 1px solid #d8d8d8 !important; background-color:transparent!important;margin-left: 8px;}
.send_form textarea.pmd:focus{border-bottom: 1px solid #8ec919 !important;}    
.send_form .input-label.pmd {font-size:10px;color:#8ec919 !important;font-weight: bold;}
.send_form label.pmd {
    padding-left:14px!important; 
    position:relative;
    align-items: flex-start;}
.send_form label.pmd span {width:52px;text-align:right;}
.send_form .btc_amount_container{position:relative;display:block;width:100%;height:auto;}
.send_form .button.icon.ion-arrow-swap:before{
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 24px;
}

.send_form .recipient_container {position:relative;display:block;width:100%;height:auto;overflow: hidden;}
.send_form .recipient_container label.pmd{width:320px!important;float:left;}
.send_form .recipient_container button{position: absolute;right: 5px;color:#eaeaea!important;top:6px;}

.send_form_button {color: #8ec919!important;font-weight: bold;
    border-left:none!important;
    border-right:none!important;
    border-bottom:none!important;}
.bold {font-weight: bold!important;}
.color_white {color:#fff!important;}
.green_bg       { background-color: #93c91f!important;}
.green_color    { color: #93c91f!important;}
.bgcolor_white {background-color:#fff!important;}
.send_form_button.bgcolor_white.activated{background-color:#d3eb00!important; color:#fff!important;}
.send_form .item.pmd {border-color: transparent!important;
  margin: 0px!important;
  padding: 16px;
  border:none!important;}

.send_rate {padding-left:71px;padding-right:20px;}
.send_rate .hint.padded_r{padding-right:27px}
.hint.left {
    overflow: hidden;
    min-height: 25px;
    float:left;
    color: #d8d8d8;
    text-align: right;
    min-width: 140px;
    font-size:12px;
}

.hint.right {
    text-align: right;
    float: right;
    width: 110px;
    min-height: 25px;
    margin-left: 10px;
    font-size:12px;
}
.deposit_rate .hint.left{min-width: 80px!important;}
.deposit_rate {clear:both;padding-left:71px;padding-right: 80px;margin-top: 40px;}
.deposit_rate .hint.padded_r{padding-right:27px}

.deposit_form .input_amount {padding-right:60px!important;}
.deposit_form .amount_container {position:relative;display:block;width:100%;height:auto;padding-top:25px;}
.deposit_form .amount_container label.pmd{width: 300px!important;float:left;} /*padding-left: 32px!important;*/
.deposit_form .toggle_curr {top: 15px;right: 0px;color:#eaeaea!important;margin-right:5px;}
.deposit_confirm {
  /*padding: 10px 10px 10px 0px;*/
  padding:30px 10px 0px 16px;
}
.deposit_confirm p {margin:0!important;}
.deposit_confirm p b{font-size:16px!important;}

.deposit_form .amount_container .placeholder-icon {margin-right: 0px;}
.w100_hauto{width:100%;height:auto;}
.h67 {height:67px;}
.deposit .deposit_qr_hint {float: right;font-size: 10px;padding-right: 30px!important;padding-top:0px;}
.deposit .bottom_bar {clear:both;position: absolute;bottom:0px;display:block;width:100%;}

.ion-autocomplete-container .item-divider{color:#fff!important;font-size:14px;background-color:#546979!important;border:none;}
.ion-autocomplete-container .item-divider.item-icon-right .icon:before{font-size:24px;}
.ion-autocomplete-cancel {font-size:14px!important;}
.ion-autocomplete-container .item.search p {font-size:12px!important;margin-top: 1px;}
.ion-autocomplete-container .item .local {font-size:12px!important;}
.ion-autocomplete-container .item .global {font-size:12px!important;}
.ion-autocomplete-container .item .spinner {stroke: #5f7381;  fill: #5f7381;}
.ion-autocomplete-container label.item-input-wrapper {background-color:#eaeaea!important;}

/*.card, .list-inset */
.receive_qr {margin:0!important;}
.receive_qr h1, .receive_qr h2, .receive_qr h4 {text-align:center;}
.action_container .one_of_two_buttons .button.border_top_left {border-left:1px solid #b2b2b2!important;}
.action_container .one_of_two_buttons .button{border-top:1px solid #b2b2b2!important;font-size:26px;}

.balances .item {}
.super_flex{
  display: -webkit-flex; /* Safari */
  -webkit-flex-flow: row wrap; /* Safari 6.1+ */
  /*-webkit-align-content: space-around;*/ /* Safari 7.0+ */
  display: flex;
  flex-flow: row wrap;
  /*align-content: space-around;*/
  height:100%;
}

.bar_title_button {font-size: 14px!important;}
.register .bar_title_button{
    position: absolute;
    right: 10px;
    top: 10px;}
.bar .title {font-size: 17px!important;}

/*.bar .button.button-icon .icon:before, 
  .bar .button.button-icon:before, */
  .bar .button.button-icon.icon-left:before, 
  .bar .button.button-icon.icon-right:before {
  font-size: 26px!important;}

.loading-container .loading {display:flex;align-items:center;}
.loading-container .loading ion-spinner {float:right;}
.loading-container .loading ion-spinner {stroke:#d3eb00!important;} /*93c91f*/

.lime_settings_ionicon {
}
.lime_settings_ionicon:before {
  padding-top:23px!important;
  color:#797778!important;
  font-size:17px!important;
  }

.encryption_form .checkbox-icon:before {
  display: table!important;
  /*width: 100%!important;
  height: 100%!important;*/
  border-width: 1px!important;
  border-style: solid!important;
  border-radius: 28px!important;
  background: rgb(192, 192, 192)!important;
  content: ' ';
}
.encryption_form .checkbox-icon{ font-size:20px!important;}
.encryption_form .checkbox input:checked:before, .encryption_form .checkbox input:checked + .checkbox-icon:before {
  background: #d3eb00!important;
  border-color: #d3eb00!important;}
.encryption_form label.item-checkbox {color:rgb(192, 192, 192)!important;}
.encryption_form .item-checkbox.pmd .checkbox {
  left:initial!important;
  right:0px!important;}
.encryption_form .item-checkbox.pmd div.item-content{
  text-align: right!important;
  padding-right: 30px!important;}
