html, body {
    height: 100%;
}

/**************/
/* BAR hack ***/
/**************/
.bar.bar-energized {
  /* border-color: #01a8db; */
  /*background-color: #01bbf4!important;*/
  /* background-image: linear-gradient(0deg, #01a8db, #01a8db 50%, transparent 50%); */
  background-image:none!important;
  color: #fff;
}

ion-nav-view {
  background-color: #fff!important;
}
/*ion-nav-bar.bar-energized{
  background-image: none!important;
}*/

.logo-center{
  margin: 0 auto;
  display: block;
}

.bar .fa {font-size: 25px;
line-height: 38px;}
.fa.fa16 {font-size: 16px!important;line-height: 18px;}
.fa.fa18 {font-size: 18px!important;line-height: 20px;}
.fa.fa20 {font-size: 20px!important;}
.fa.fa300{font-weight: 300;}
.icon.icon26 {font-size:26px!important;}

.tab-item .fa{
  font-size: 30px!important;
  line-height: 40px!important;}
.receive_payment .tab-item{opacity: 1!important; }

.balance_container{
  color:#ffffff;
  height:80px/*125px !important*/;
  width:100%!important;
  /*display:table;*/
}
.balance{text-align:center;padding-top: 15px;}
.balance.hidden{padding-top: 25px;}
.balance_text{font-size:50px;line-height:50px;}
.balance_text i {font-size:25px;vertical-align:middle!important;line-height: 25px;}
.balance_hidden_text{font-size:35px;line-height:35px;letter-spacing: -2px;}
.balance_hidden_text i.fa {vertical-align:top;}

.display_table{display:table;}
.display_table_cell{display:table-cell;}
.display_table_cell.vmiddle{vertical-align:middle;}

.punta2 {
  /*position:absolute;
  bottom:-25px;*/
  height:25px;
  width:100%;
  background: url(../img/triangle.png);
  background-position:bottom;
  background-repeat:no-repeat;
  background-size: 100% 25px;

}

.index_buttons{
  overflow:hidden;padding:5px 0 10px 0;height:87px;
}
.index_buttons .button_send{
  padding-left:8px;
  padding-right:4px;
  /*padding-left:4%;
  padding-right:2%;*/
  /*padding-right:2px;*/
  width:50%;
  float:left;
  text-align:center;
}
.index_buttons .button_receive{
  padding-left:4px;
  padding-right:8px;
  /*padding-left:2%;
  padding-right:4%;*/
  /*padding-left:2px;*/
  width:50%;
  float:left;
  text-align:center;
}
.index_buttons .button_receive a.button, .index_buttons .button_send a.button{
  border-radius:0px;
}
.index_transactions, .addys_empty, .restore_wallet_textarea, .addys_balances_scroll, .register_details, .txs_empty{
  display:block;
  overflow: hidden;
  width:100%;
  /*top:257px;*/
  top:192px;
  position:absolute!important; bottom:0;
  }
.addys_empty{top:0px!important;}
.restore_wallet_textarea{top:43px!important;bottom:67px;}
.addys_balances_scroll{top:342px!important;}
.register_details{top:0px!important;margin-bottom:20px;}
.margin-bottom-button{margin-bottom:67px;}
.txs_empty{top:0px!important;margin-bottom:67px;}

.row75{
  height: 75% !important;
}
.scroll{
  height:100% !important;
}

.transactions div.list {height:100%;}
.transactions h2 {font-size:14px!important;}
/* ***************************************** */
/* received */
.transactions .received .sent_ex{display:none;}
.transactions .received .self_ex{display:none;}
.transactions .received .deposit_ex{display:none;}
.transactions .received .withdraw_ex{display:none;}
.transactions .received .btc_pay_ex{display:none;}
/* sent */
.transactions .sent .received_ex{display:none;}
.transactions .sent .self_ex{display:none;}
.transactions .sent .deposit_ex{display:none;}
.transactions .sent .withdraw_ex{display:none;}
.transactions .sent .btc_pay_ex{display:none;}
/* self */
.transactions .self .received_ex{display:none;}
.transactions .self .sent_ex{display:none;}
.transactions .self .deposit_ex{display:none;}
.transactions .self .withdraw_ex{display:none;}
.transactions .self .btc_pay_ex{display:none;}
/* deposit */
.transactions .deposit .received_ex{display:none;}
.transactions .deposit .sent_ex{display:none;}
.transactions .deposit .self_ex{display:none;}
.transactions .deposit .withdraw_ex{display:none;}
.transactions .deposit .btc_pay_ex{display:none;}
/* withdraw */
.transactions .withdraw .received_ex{display:none;}
.transactions .withdraw .sent_ex{display:none;}
.transactions .withdraw .self_ex{display:none;}
.transactions .withdraw .deposit_ex{display:none;}
.transactions .withdraw .btc_pay_ex{display:none;}
/* btc_pay */
.transactions .btc_pay .received_ex{display:none;}
.transactions .btc_pay .sent_ex{display:none;}
.transactions .btc_pay .self_ex{display:none;}
.transactions .btc_pay .deposit_ex{display:none;}
.transactions .btc_pay .withdraw_ex{display:none;}
/* pending */
.transactions .pending .sent_ex{display:none;}
.transactions .pending .received_ex{display:none;}
.transactions .pending .self_ex{display:none;}
.transactions .pending .deposit_ex{display:none;}
.transactions .pending .withdraw_ex{display:none;}
.transactions .pending .btc_pay_ex{display:none;}

.transactions .withdraw .tx_address, .transactions .deposit .tx_address, .transactions .btc_pay .tx_address { display:none;}

.pending_text {
  float:right;font-size:0.7em;
  position: absolute;
  right: 15px;
  padding:3px;
  color: #ededed!important;
  background-color: #4fbaed!important;
}

.transactions .pending h2, .transactions .pending .icon , .transactions .pending span, .transactions .pending p
{color:#4fbaed;} /*c1c1c1 4fbaed*/

.transactions p , .transactions span.tx_address {font-size:12px!important;}
.transactions span.tx_amount{font-weight:700;font-size:16px!important;}
.transactions span.tx_label {font-size:14px;}

.ta_right{text-align:right;}
.float_right{float:right;}
.margin_r_16 {margin-right:16px!important;}
.float_left{float:left;}
.no_transactions{width:100%;color:#c1c1c1;text-align:center;font-size:1.2em; height:100%;}
.no_transactions i.icon{font-size:30px!important;}

.action_container{display:block;width:100%;height:67px;position:absolute;bottom:0;}
.action_container2{display:block;width:100%;height:87px;}
.action_container .one_of_two_buttons , .action_container2 .one_of_two_buttons {width:50%;float:left;}
.action_container .one_of_three_buttons{width:33%;float:left;}

input.numeric {text-align:right!important;}
span.error, input.error{color:#ef4e3a!important;}
span.input.error{text-align:right;display:inline-block;padding:5px;width:100%;}
.wallet_textarea{width:100%;height:200px;}
NOTtextarea.wallet_input{width:100%;height:100%; box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.big_placeholder::-webkit-input-placeholder{font-size: 16px!important;}
.big_placeholder:-moz-placeholder{font-size: 16px!important;}
.big_placeholder::-moz-placeholder {font-size: 16px!important;}
.big_placeholder:-ms-input-placeholder {font-size: 16px!important;}
input.big::-webkit-input-placeholder{font-size: 16px!important;}
input.big:-moz-placeholder{font-size: 16px!important;}
input.big::-moz-placeholder {font-size: 16px!important;}
input.big:-ms-input-placeholder {font-size: 16px!important;}

.input_amount{text-align:right;}
.input_amount::-webkit-input-placeholder{text-align: left;}
.input_amount:-moz-placeholder{text-align: left;}
.input_amount::-moz-placeholder {text-align: left;}
.input_amount:-ms-input-placeholder {text-align: left;}

input.big {
  height: 40px!important;
  /*font-size: 26px!important;
  line-height: 32px!important;*/
  font-size: 13px!important;
  line-height: 26px!important;
  }

/*****************/
/* MENU **********/
/*****************/

.menu div.list{height:100%!important;}
.list .dock_bottom, .dock_bottom{
  position: absolute!important;
  bottom: 0px!important;
  width: 100%;
}
.menu div.list .item{border-width:0px!important;}
.menu div.list .item.top_border_on{border-width:1px!important;}
.bar.bar-dark.menu_header {border-color:transparent!important;}   
.menu .menu_header{
  background-image:none!important; 
  /*background-color:#363636!important;
  border-bottom: solid 1px #000000;*/
  border-color: #000000;
  }  
.menu  {background-color: #363636!important;}
.menu .item, 
  .menu .item-complex .item-content{
  border-color: #4c4c4c!important;
  background-color: #363636!important;
  color: #d4d4d4!important;
  /*font-size: 14px;*/
}
.menu .item.wallet a{background-color: #222222!important}
.menu .list .item_first{ border-top:none;}

.menu .menu_header{height:132px!important;}
.menu .scroll-content.has-header{top:132px!important;}
 
.platform-ios .menu .menu_header{height:152px!important;}
.platform-ios .menu .scroll-content.has-header{top:152px!important;}

.menu  .menu_container{
  padding:16px;
  height: 100%!important;
  width:100%;
  margin-bottom: 0px;
}
.menu  .menu_container .menu_avatar{
  height: 56px;
}
.menu  .menu_container .menu_avatar img{
  /*position: absolute;
  top: 10px;*/
  left: 0px;
  width: 56px;
  height: 56px;
  border-radius: 28px;
  
  background-color: whitesmoke;
  }
  
.menu  .menu_container .menu_name{
  height: 28px;
  padding-top: 16px;
}

.menu  .menu_container .menu_name label{
  font-size:16px!important;
}

/* END MENU ****/

/* Overwrites-fixes ionic header for ios6 */
.platform-ios.platform-cordova.platform-ios6:not(.fullscreen) .bar-header:not(.bar-subheader){
    height: 44px;
}
.platform-ios.platform-cordova.platform-ios6:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
    margin-top: 0px;
}
.platform-ios.platform-cordova.platform-ios6:not(.fullscreen) .has-header,
.platform-ios.platform-cordova.platform-ios6:not(.fullscreen) .bar-subheader {
    top: 44px;
}

/* Restore view */
.restoreForm{
  position:absolute;
  top:0px;bottom:65px;
  width:100%;
  overflow:hidden;
}

.restoreForm_inputs{
  /*height: 95%;
  display: block;position:relative;
  */
  
  display: block;
  position:relative;
  overflow:hidden;
  margin:0px 0px 20px 0px !important;
  /*
  position: absolute!important;
  width: 100%;
  bottom: 10px;
  top: 10px;
  margin:0px 20px 0px 0px !important;
  overflow:hidden !important; */
}

.restoreForm_inputs.list:last-child.card {
margin-bottom: 20px!important;
}

.keyboard-open .restoreForm{/*bottom:0px;*/}  
.keyboard-open .restoreForm_inputs{
  /*height: 100%;  */
}
.tx_details .row{ margin-top:0px!important;padding:0!important;}
.tx_details .row .col{font-size:11px!important;}

.send_form .item-input-inset{padding:0px 8px 0px 0px!important}

div.full_width{width:100%;text-align: center;}
img.i_centered {margin-left: auto;
    margin-right: auto;
    }

.item-input-wrapper.wrapper_clean{ 
  background-color:transparent!important; 
  display: flex;
  position: relative;
  overflow: hidden;
  /*padding: 0px 4px 5px 4px; 6px 0 5px 16px*/
  border-radius: 0px;
  padding: 6px 0 5px 16px;
  }
.item-input-wrapper.wrapper_clean input{ padding-left: 0px!important;  }

.slider{
  /*overflow-y:auto!important;*/
  height:90px!important;
}

/*.slider-slides{width: 100%!important;}*/

.slider-pager {
	/*top: 0;*/
	bottom: 7px!important;
}

.slider-pager .slider-pager-page {
  height:15px!important;
  display:inline!important;
  color:#fff!important; 
}
.slider-pager .slider-pager-page i.icon{font-size:10px;}

.btc{/*color:#ef7a40;*/}
.usd{/*color:#93c356;*/}
.gold{/*color:#d3b957;*/}
.cny{/*color:#df565c;*/}
.asset_img{height:40px;width:40px;}
.asset_list .asset_img {margin-right: 16px;}
.list.asset_img {
    float: left;
    max-height: 40px;
    max-width: 40px;
    margin-right: 1em;
    border-radius: 4px;
}

/*.default_addr h3, .default_addr h4, .default_addr p, .default_asset h2, .default_asset p{color:#ffffff!important;}*/
/*.default_asset,  .default_addr{background-color:#007DC4!important;} */
.asset_list h2, .addr_list h3 {color:#003762;}
.hidden_asset {background-color:#eeeeee!important;} /*acfa84*/
.badge-default{
  display: flex;
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #007DC4!important;
  color: #ffffff;
  z-index: 1;
  padding: 3px 8px 2px 8px;
  min-width: 10px;
  border-radius: 10px;
  vertical-align: baseline;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  text-transform:uppercase;
}

/********************/
/* ACCORDION        */
/********************/
.list .item.item-accordion {
  height: 38px;
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  height: 0px;
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

/*******************************/
/* LISTS (Settings & balances) */
/*******************************/
.list.settings .item, .list.balances .item, .list.addys_balances .item{
  border-color:transparent!important;
  border:none;
  border-width: 0px; 
  /*border-style: solid; */
}
.list.settings .item .line-divider, .list.settings .line-divider{
  clear: both;
  position: absolute;
  bottom: 1px;
  left: 16px;
  background-color: #eee;
  /* margin-left: 16px; */
  width: 100%;
  height: 1px;
}
.list.settings .item .line-divider2{
  margin-left: 16px;
  background-color: #eee;
  /* margin-left: 16px; */
  width: 100%;
  height: 1px;
}

.list.settings .item-divider
{
  background-color:#efeef4!important;
  color:#636268!important;
  font-size:14px;
  padding-top: 18px;
  padding-bottom: 4px;
  min-height: 44px;
  text-transform:uppercase;
}

.list.settings .input-label, .input-label, .list.settings .item.item-toggle{
  color: #999!important;
}

.list.settings img.avatar_rounded{
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background-color: whitesmoke;
}

.list.settings .item.ng-hide-remove{
  /* the transition is defined in the active class */
  transition: 1s linear all;
}

.list.addys_balances .addys.ng-hide-remove {
  /* the transition is defined in the active class */
  transition: 3s linear all;
}

.list.settings .not_enabled{
  background-color:#f0f0f0;
}

/* *************** */
/* REGISTER ********/
/* *************** */
.register .list.settings{margin-bottom:47px!important;}
.register_container {
  padding: 10px 10px 10px 0px;
}
.register_container h4{ padding-left:16px}
.register_container p{ padding-left:16px}
.register_container, .register_color{color:#fff!important;}
.no-margin {margin:0!important;}
/*.register .list.settings {margin-bottom:67px!important;}*/
/******************/
/* BALANCES */

.list.balances{
  margin-bottom:5px!important;
  /* box-shadow: 0 3px 7px 0 rgba(90, 187, 92, 1); */
  /* box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.24); */
}

.list.balances .item.active
, .list.balances .item.active .asset_balance
, .list.balances .item.active .asset_data{
  color: #fff!important;
}

.list.balances .item{ height:78px;}
.list.balances .item .asset_data{
  margin-left: 72px;
  height: 56px;
  padding-top: 15px;
  margin-left:72px;
}
.deposits .list.balances .item .asset_data{padding-top: 0px!important;}
.list.balances .item .asset_balance, .list.balances .item .asset_data{
color: #aaa;}
.list.balances .item .asset_balance{
  float: right;
  font-size: 16px;
}

.fab {
      position: relative;
      display: inline-block;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      color: #fff;
      overflow: hidden;
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
/* 78 */
.fab {
    position: absolute;
    top:16px;
    left:16px;
}      
.fab.red {
  background-color: #d23f31;
}

.fab.blue, .list.balances .item.active{
  background-color:#2e99b7 /* ff8100 #007DC4 */; 
}

.deposits .fab  > i {
  display:block;
  margin: 13px 20px 21px 12px !important;
}
.fab.WP {background-color: #d23f31;}/*WAITING_CLIENT_PAYMENT*/
.fab.PC {background-color: #d23f31;}/*PAID_BY_CLIENT*/
.fab.CC {background-color: #d23f31;}/*CLIENT_TX_CONFIRMED*/
.fab.SC {background-color: #d23f31;}/*SENT_TO_CLIENT*/
.fab.OK {background-color: #d23f31;}/*COMPLETED*/
.fab.EX {background-color: #d23f31;}/*EXPIRED*/
.fab.CA {background-color: #d23f31;}/*CANCELED*/
.fab.FW {background-color: #d23f31;}/*FORWARDED*/

.list.balances .item.active .fab.blue{
  background-color: #fff!important;
  color:#2e99b7 /* ff8100 #007DC4 */; 
}

.fab.green {
  background-color: #0f9d58;
}

.fab:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}

.fab > i {
  margin: 15px 15px 21px 17px !important;
}
.fab > i.fa-btc {
  margin: 14px 20px 20px 16px !important;
}

.fab > i.ozt {
  display:block;
  margin: 13px 20px 21px 12px !important;
}
.fab > i::shadow path {
  fill: #fff;
}

.assets_by_address_title {
  clear: both;
  /*position: absolute;
  bottom: 1px;*/
  /*margin-left: 78px;*/
  /* margin-left: 16px; */
  width: 100%;
  /*height: 1px;*/
  /*
  color:#2e99b7; */
 padding:5px 5px 5px 16px;
  border-top: #ddd solid 1px;
  /*background-color:#2e99b7;*/
  /*color:#fff;*/
}

/******************************/
/*DEPOSIT *********************/ 
/******************************/
.deposit .quote i.icon.ion-loading-c , .withdraw .quote i.icon.ion-loading-c {
  position: absolute;
  top: 42px;
  right: 16px;
  color: #999;
}
.button_taller {height:67px!important;line-height:67px!important;margin-top:0px!important;margin-bottom:0px!important;}
/*.button.dock_bottom{ position:absolute;bottom:0px;}*/
.rotate90{
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.rotate270{
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.deposit h3, .withdraw h3{
  color: #fff;
  padding-left: 16px;
}
 
p.bitcoin_uri {
  padding: 16px;
  /*background-color: #eeeeee;*/
  font-size:18px!important;
  } 

.wrap_text{
  -ms-word-break: break-all;
  /* Be VERY careful with this, breaks normal words wh_erever */
  word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  
  overflow: visible!important;
  white-space: normal!important;
}

span.quote_error{padding-left: 16px;}

.deposit .tab-item {max-width: 350px;}
.deposit a.tab-item i.fa{
  font-size: 26px!important;
  line-height: 50px!important;}
.deposit a.tab-item i.icon{
  font-size: 26px!important;}
.deposit div.qr_container{
  width:100%;
  text-align: center;
}
.deposit .qr_image{
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}

/* WITHDRAW */
.withdraw div.bitcoin_address{width:100%!important;padding:0!important;}
.withdraw div.bitcoin_address .line-divider{width:auto;right:65px!important;}

/* Pie Chart */
.instant_quote {line-height:50px;left: 16px;top: 20px;padding-left: 16px;position: absolute;}
.instant_quote2{line-height:20px;padding-left: 16px;position: relative!important;}

.chart_container{
  text-align:center;
  position:relative;
  }
.chart {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 16px;
  margin-bottom: 5px;
  text-align: center;
  margin-right:auto;
  margin-left:auto;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 50px;
  z-index: 2;
}
.percent:after {
  content: ''; /*'%'*/
  margin-left: 0.1em;
  font-size: .8em;
}

#mynano div, #mynano1 div, #mynano2 div, #mynano3 div{
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.50);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.50);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.50);
}

.button-bar.tabbed {
  /*margin-top:30px;*/
}

.button-bar.tabbed > .button{
  height:30px;
  line-height:30px!important;
  vertical-align:middle;
}

.button-bar.tabbed > .button i.icon{
  height:30px;
  line-height:30px!important;
  vertical-align:top;
}
.button-bar.tabbed > .button i.icon.fa{
  height:28px;
  line-height:28px!important;
}

.button-bar.tabbed > .button:first-child {
  border-radius: 6px 0px 0px 6px;
}

.button-bar.tabbed > .button:last-child {
  border-right-width: 1px;
  border-radius: 0px 6px 6px 0px;
}

.button-bar.tabbed > .button-energized{
  background-color:#fff;
  color:#01bbf4;
}

.button-bar.tabbed > .button-energized.active{
  background-color:#01bbf4;
  color:#fff;
}

.button-bar.tabbed > .button:before, .button-bar.tabbed > .button .icon:before {
  line-height: 30px!important;
}