html, body {
 height: 100%;
}

html, body {
  font-family: 'Roboto' !important;
}

/**************/
/* BAR hack ***/
/**************/
.bar.bar-energized {
  background-image:none!important;
  color: #fff;
}

/* HEADER hack*/
.no_header {top:0px!important;}

ion-nav-view {
  background-color: #fff!important;
}

.pseudo-nav-bar { 
  height:44px; 
  padding:2px 5px 8px 5px;
  overflow: hidden;
}
.pseudo-nav-bar .button {
  color: #fff!important; 
  z-index: 1;
  padding: 0 8px;
  min-height: 31px;
  font-weight: 400;
  /*font-size: 13px;*/
  line-height: 32px;}

.pseudo-nav-bar .button-icon.right{
  position: absolute;
  top: 8px;
  right: 5px;
  }
.pseudo-nav-bar .button-icon:before{font-size: 26px!important;line-height: 39px!important;}

.bar .fa {font-size: 25px;
  line-height: 38px;}
.fa.fa16 {font-size: 16px!important;line-height: 18px;}
.icon.icon26 {font-size:26px!important;}

/*.tab-item .fa{
  font-size: 30px!important;
  line-height: 40px!important;}
*/

.balance_container{
  background-size: 360px auto !important; 
  background-position:center -44px!important;
  background-repeat: no-repeat!important;
  background-image: url(../img/bg/bg-dashboard@0x.png);
  text-align: center;
  height:158px;
}
.balance{text-align:center;padding-top: 15px;height:73px;}
.balance.hidden{padding-top: 25px;}
.balance_text{font-size:38px;line-height:38px;color:#caee36;font-weight:300;}
.balance_curr { font-size:14px; color:#69818d;}
.balance_hidden_text{font-size:35px;line-height:35px;letter-spacing:-2px; font-weight: 200;}
.balance_hidden_text i.fa {vertical-align:top;}

.balance_container .button-bar_container {width:300px;margin:0 auto;display:block;}
.balance_container .button-bar {
  /*padding-top:28px;padding-bottom:28px;*/
  padding-top: 25px;
  padding-bottom: 10px;
}

.display_table{display:table;}
.display_table_cell{display:table-cell;}
.display_table_cell.vmiddle{vertical-align:middle;}

.index_buttons{
  overflow:hidden;padding:5px 0 10px 0;height:87px;
}
.index_buttons2{height:67px;}
.index_buttons .button_send{
  padding-left:8px;
  padding-right:4px;
  /*padding-left:4%;
  padding-right:2%;*/
  /*padding-right:2px;*/
  width:50%;
  float:left;
  text-align:center;
}
.button-assertive2{
  background-color:#E67E22!important;
  border-color:#E67E22!important;
  color:#ffffff!important;
}
.index_buttons .button_receive{
  padding-left:4px;
  padding-right:8px;
  /*padding-left:2%;
  padding-right:4%;*/
  /*padding-left:2px;*/
  width:50%;
  float:left;
  text-align:center;
}
.button-balanced2{
  background-color:#2ECC71!important;
  color:#ffffff!important;
}

.index_transactions{
  display:block;
  overflow: hidden;
  width:100%;
  top:158px;
  /*top:202px;*/
  position:absolute!important; bottom:0;
  }
.scroll{
  height:100% !important;
}

.transactions div.list {height:100%; padding-top:20px;}
.transactions h2 {font-size:14px!important;}
/* ***************************************** */
/* received */
/*.transactions*/ .received .sent_ex{display:none;}
/*.transactions*/ .received .self_ex{display:none;}
/*.transactions*/ .received .deposit_ex{display:none;}
/*.transactions*/ .received .withdraw_ex{display:none;}
/*.transactions*/ .received .btc_pay_ex{display:none;}
/* sent */
/*.transactions*/ .sent .received_ex{display:none;}
/*.transactions*/ .sent .self_ex{display:none;}
/*.transactions*/ .sent .deposit_ex{display:none;}
/*.transactions*/ .sent .withdraw_ex{display:none;}
/*.transactions*/ .sent .btc_pay_ex{display:none;}
/* self */
/*.transactions*/ .self .received_ex{display:none;}
/*.transactions*/ .self .sent_ex{display:none;}
/*.transactions*/ .self .deposit_ex{display:none;}
/*.transactions*/ .self .withdraw_ex{display:none;}
/*.transactions*/ .self .btc_pay_ex{display:none;}
/* deposit */
/*.transactions*/ .deposit .received_ex{display:none;}
/*.transactions*/ .deposit .sent_ex{display:none;}
/*.transactions*/ .deposit .self_ex{display:none;}
/*.transactions*/ .deposit .withdraw_ex{display:none;}
/*.transactions*/ .deposit .btc_pay_ex{display:none;}
/* withdraw */
/*.transactions*/ .withdraw .received_ex{display:none;}
/*.transactions*/ .withdraw .sent_ex{display:none;}
/*.transactions*/ .withdraw .self_ex{display:none;}
/*.transactions*/ .withdraw .deposit_ex{display:none;}
/*.transactions*/ .withdraw .btc_pay_ex{display:none;}
/* btc_pay */
/*.transactions*/ .btc_pay .received_ex{display:none;}
/*.transactions*/ .btc_pay .sent_ex{display:none;}
/*.transactions*/ .btc_pay .self_ex{display:none;}
/*.transactions*/ .btc_pay .deposit_ex{display:none;}
/*.transactions*/ .btc_pay .withdraw_ex{display:none;}
/* pending */
/*.transactions .pending .sent_ex{display:none;}
.transactions .pending .received_ex{display:none;}
.transactions .pending .self_ex{display:none;}
.transactions .pending .deposit_ex{display:none;}
.transactions .pending .withdraw_ex{display:none;}
.transactions .pending .btc_pay_ex{display:none;}*/

h2 .transactions .sent_ex, h2 .transactions .received_ex, h2 .transactions .self_ex, h2 .transactions .deposit_ex, h2 .transactions .withdraw_ex, h2 .transactions .btc_pay_ex{font-size:16px;}
.full_width p .sent_ex
  , .full_width p .received_ex
  , .full_width p .self_ex
  , .full_width p .tx_address
  , .full_width p .from_now {color:#5f7381;}
.full_width p .from_now {font-size:12px;float:right;}

.transactions .withdraw .tx_address, .transactions .deposit .tx_address, .transactions .btc_pay .tx_address { display:none;}

.tx_icon {  width: 24px ; left:15px!important;}
/*.icon_receive   {background-image: url(../img/icons/ico-received.svg);}
.icon_send      {background-image: url(../img/icons/ico-sent.svg);}
.icon_self      {background-image: url(../img/icons/ico-received.svg);}
.icon_withdraw  {background-image: url(../img/icons/ico-withdraw.svg);}
.icon_deposit   {background-image: url(../img/icons/ico-deposit.svg);}
.icon_btc_pay   {background-image: url(../img/icons/ico-payments.svg);}
*/
.lime_icon           { background-size: 20px 20px !important; 
                       background-position:center center!important;
                       background-repeat: no-repeat!important;
                       width:38px;height:38px;}
.lime_icon.navicon_w { background-image: url(../img/icons/menu-white.svg)!important ;}

ion-nav-bar.light_navbar .lime_icon.qr-code { background-image: url(../img/icons/ico-qr-code_dark.svg)!important ; height:36px;}
ion-nav-bar.light_navbar.darky .lime_icon.qr-code { background-image: url(../img/icons/ico-qr-code.svg)!important ; height:38px;}

.lime_icon.qr i      { font-size:20px!important; /*background-image: url(../img/icons/ico-qr.svg) !important ;*/}

.lime_settings_icon           { background-size: 16px 16px !important; 
                                background-position:center center!important;
                                background-repeat: no-repeat!important;}
.lime_settings_icon.logout    { background-image: url(../img/icons/ico-logout_gray.svg);}
.lime_settings_icon.settings  { background-image: url(../img/icons/ico-settings_gray.svg);}
.lime_settings_icon.assets    { background-image: url(../img/icons/ico-assets-2.svg); height:16px; width:32px; left:11px;}
.lime_settings_icon.assets    { background-image: url(../img/icons/ico-assets-2.svg); height:16px; width:32px; left:11px;}
.lime_settings_icon.deposit   { background-image: url(../img/icons/ico-deposit_lime.svg); height:16px; width:32px; left:11px;}
.lime_settings_icon.withdraw  { background-image: url(../img/icons/ico-withdraw_lime.svg); height:16px; width:32px; left:11px;}
.lime_settings_icon.shop  { background-image: url(../img/icons/icon-shop.svg); height:16px; width:32px; left:11px;}


.pending_text {
  float:right;
  position: absolute;
  font-size: 9px; /*font-size:0.7em;*/
  /*right: 0px;*/ right: 15px;
  /*top: 0px;*/

  padding:3px;
  color: #ededed!important;
  background-color: #4fbaed!important;/*#3498DB!important;*/
}

/* semaforo verde amarillo rojo(gris) */
/*
.pending_text.WP_NOT_USED{background-color: #d23f31;} 
.pending_text.PP{background-color: #F1C40F!important;} 
.pending_text.FP{background-color: #F1C40F!important;} 
.pending_text.WT{background-color: #F1C40F!important;} 
.pending_text.RC{background-color: #E74C3C!important;} 
.pending_text.WC{background-color: #F1C40F!important;} 
.pending_text.PC{background-color: #2ECC71!important;} 
.pending_text.TG{background-color: #2ECC71!important;}
.pending_text.SC{background-color: #2ECC71!important;}
.pending_text.OK{background-color: #66cc33!important;}
.pending_text.XX{background-color: #ECF0F1!important;color:#666666!important;} 
.pending_text.RR{background-color: #ECF0F1!important;color:#666666!important;} 
.pending_text.RF{background-color: #ECF0F1!important;color:#666666!important;} */

.pending_text.EX{background-color: #ECF0F1!important;color:#666666!important;}/*EXPIRED*/ /* rojo (gris) */

.pending_text {background-color: transparent!important; color:#4fbaed!important;}
.pending_text.XX, .pending_text.RR, .pending_text.RF {color:#BDC3C7!important;}
.pending_text.RC{color: #E74C3C!important;} 

.transactions p , .transactions span.tx_address {font-size:12px!important;}
.transactions span.tx_amount{font-weight:700;font-size:16px!important;}
.transactions span.tx_label {font-size:14px;}

.ta_right{text-align:right;}
.float_right{float:right;}
.margin_r_16 {margin-right:16px!important;}
.float_left{float:left;}
.no_transactions{width:100%;color:#c1c1c1;text-align:center;font-size:1.2em; height:100%;}
.no_transactions i.icon{font-size:30px!important;}

.action_container{display:block;width:100%;height:67px;position:absolute;bottom:0;z-index:5;}
.action_container2{display:block;width:100%;height:87px;}
.action_container .one_of_two_buttons , .action_container2 .one_of_two_buttons {width:50%;float:left;}
.action_container .one_of_three_buttons{width:33%;float:left;}
.action_container .one_of_two_buttons .button{ border-radius: 0px;}
input.numeric {text-align:right!important;}
span.error, input.error{color:#ef4e3a!important;}
span.input.error{text-align:right;display:inline-block;padding:5px;width:100%;}
.wallet_textarea{width:100%;height:200px;}

input.big.ion-autocomplete::-webkit-input-placeholder{padding-top:0px;}
input.big.ion-autocomplete:-moz-placeholder{padding-top:0px;}
input.big.ion-autocomplete::-moz-placeholder {padding-top:0px;}
input.big.ion-autocomplete:-ms-input-placeholder {padding-top:0px;}

.bitcoin_address input.big::-webkit-input-placeholder{padding-top:0px;}
.bitcoin_address input.big:-moz-placeholder{padding-top:0px;}
.bitcoin_address input.big::-moz-placeholder {padding-top:0px;}
.bitcoin_address input.big:-ms-input-placeholder {padding-top:0px;}


.recipient_container input.big::-webkit-input-placeholder{padding-top:0px;}
.recipient_container input.big:-moz-placeholder{padding-top:0px;}
.recipient_container input.big::-moz-placeholder {padding-top:0px;}
.recipient_container input.big:-ms-input-placeholder {padding-top:0px;}

input.big::-webkit-input-placeholder{font-size: 30px!important;color:#eaeaea;padding-top:5px;}
input.big:-moz-placeholder{font-size: 30px!important;color:#eaeaea;padding-top:5px;}
input.big::-moz-placeholder {font-size: 30px!important;color:#eaeaea;padding-top:5px;}
input.big:-ms-input-placeholder {font-size: 30px!important;color:#eaeaea;padding-top:5px;}

textarea.big::-webkit-input-placeholder{font-size: 30px!important;color:#eaeaea;padding-top:5px;}
textarea.big:-moz-placeholder{font-size: 30px!important;color:#eaeaea;padding-top:5px;}
textarea.big::-moz-placeholder {font-size: 30px!important;color:#eaeaea;padding-top:5px;}
textarea.big:-ms-input-placeholder {font-size: 30px!important;color:#eaeaea;padding-top:5px;}


.create_account input::-webkit-input-placeholder{font-size: 16px!important;color:#999;}
.create_account input:-moz-placeholder{font-size: 16px!important;color:#999;}
.create_account input::-moz-placeholder {font-size: 16px!important;color:#999;}
.create_account input:-ms-input-placeholder {font-size: 16px!important;color:#999;}
.create_account input.right::-webkit-input-placeholder { text-align:right; }
.create_account input.right:-moz-placeholder { text-align:right; }
.register input::-webkit-input-placeholder{font-size: 16px!important;color:#999;}
.register input:-moz-placeholder{font-size: 16px!important;color:#999;}
.register input::-moz-placeholder {font-size: 16px!important;color:#999;}
.register input:-ms-input-placeholder {font-size: 16px!important;color:#999;}
.register input.right::-webkit-input-placeholder { text-align:right; }
.register input.right:-moz-placeholder { text-align:right; }

.input_amount{text-align:right;}
.input_amount::-webkit-input-placeholder{text-align: left;}
.input_amount:-moz-placeholder{text-align: left;}
.input_amount::-moz-placeholder {text-align: left;}
.input_amount:-ms-input-placeholder {text-align: left;}

input.big {
  height: 40px!important;
  /*font-size: 26px!important;
  line-height: 32px!important;*/
  font-size: 13px!important;
  line-height: 26px!important;
  }

/*****************/
/* MENU **********/
/*****************/

.menu_bg {background: -webkit-linear-gradient(33deg, rgba(26,66,84,1) 0%, rgba(26,67,86,1) 100%);background: -o-linear-gradient(33deg, rgba(26,66,84,1) 0%, rgba(26,67,86,1) 100%);background: linear-gradient(123deg, rgba(26,66,84,1) 0%, rgba(26,67,86,1) 100%); }
.transparent_bg {background-color:transparent!important;}

.menu div.list{height:100%!important;}
.list .dock_bottom, .dock_bottom{
  position: absolute!important;
  bottom: 0px!important;
  width: 100%;
}
.menu div.list .item{border-width:0px!important;}
.menu div.list .item.top_border_on{border-width:1px!important;}
.bar.bar-dark.menu_header {border-color:transparent!important;}   
.menu .menu_header{
  background-image:none!important; 
  border-color: #000000;
  }  
.menu  {background-color:  transparent!important; /* #363636!important;*/}
.menu .item, .menu .item-complex .item-content{
  /*border-color: #4c4c4c!important;*/
  border: none!important;
  background-color: transparent!important; /*#363636!important;*/
  color: #ececec!important;
  font-size: 15px;
}
.menu .item.wallet a{background-color: transparent; /*#222222!important;*/}
.menu .list .item_first{ border-top:none;}

.menu .line-divider{padding: 0px;margin-left: 28px;margin-right: 28px;
    background-color: #42484d!important; /* #2e444f */
    height: 1px;}

.menu .menu_header{height:267px!important;}           /* 132 */
.menu .scroll-content.has-header{top:267px!important;}  /* 132 */
 
/*.platform-ios .menu .menu_header{height:152px!important;}
.platform-ios .menu .scroll-content.has-header{top:152px!important;}
*/
.menu  .menu_container{
  padding:45px 16px 16px 16px;
  height: 100%!important;
  width:100%;
  margin-bottom: 0px;
}
.menu  .menu_container .menu_avatar{
  height: 80px;
  text-align:center;
}
.menu  .menu_container .menu_avatar canvas, .menu  .menu_container .menu_avatar img{
  /*position: absolute;
  top: 10px;*/
  left: 0px;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: #fff;
  }
  
.menu  .menu_container .menu_name{
  height: auto;line-height: 18px;
  padding-top: 18px;display:block;width:100%;text-align:center;
}

.menu  .menu_container .menu_name label{
  font-size:19px!important;
  color:#f3f5f6;
}

.menu  .menu_container .menu_balance{
  height: auto;line-height: 24px;
  padding-top: 18px;display:block;width:100%;text-align:center;
}
.menu  .menu_container .menu_balance label{
  font-size:24px!important;
  font-weight:300;
}

.menu  .menu_container .c {
  -webkit-align-items:stretch;display:-webkit-flex;
  align-items:stretch;display:flex;
}
.menu  .menu_container .c1x{width:50px;}
.menu  .menu_container .c2x{width:133px;}
.menu  .menu_container .c3x{width:50px;}
ion-list.menu_items { background-color:transparent!important;height:auto;display:block;}

/* END MENU ****/

/* Overwrites-fixes ionic header for ios6 */
.platform-ios.platform-cordova.platform-ios6:not(.fullscreen) .bar-header:not(.bar-subheader){
    height: 44px;
}
.platform-ios.platform-cordova.platform-ios6:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
    margin-top: 0px;
}
.platform-ios.platform-cordova.platform-ios6:not(.fullscreen) .has-header,
.platform-ios.platform-cordova.platform-ios6:not(.fullscreen) .bar-subheader {
    top: 44px;
}

/* Restore view */
.restoreForm{
  position:absolute;
  top:0px;bottom:65px;
  width:100%;
  overflow:hidden;
}

.restoreForm_inputs{
  /*height: 95%;
  display: block;position:relative;
  */
  
  display: block;
  position:relative;
  overflow:hidden;
  margin:0px 0px 20px 0px !important;
  /*
  position: absolute!important;
  width: 100%;
  bottom: 10px;
  top: 10px;
  margin:0px 20px 0px 0px !important;
  overflow:hidden !important; */
}

.restoreForm_inputs.list:last-child.card {
margin-bottom: 20px!important;
}

.keyboard-open .restoreForm{/*bottom:0px;*/}  
.keyboard-open .restoreForm_inputs{
  /*height: 100%;  */
}
.full_width{width:100%;}
.tx_detail .full_width {padding-top:15px;padding-bottom:15px;}

div.text_centered{text-align: center;}
img.i_centered {margin-left: auto;
    margin-right: auto;
    }

.item-input-wrapper.wrapper_clean{ 
  background-color:transparent!important; 
  display: flex;
  display: -webkit-flex;
  position: relative;
  overflow: hidden;
  /*padding: 0px 4px 5px 4px; 6px 0 5px 16px*/
  border-radius: 0px;
  padding: 6px 0 5px 16px;
  }
.item-input-wrapper.wrapper_clean input{ padding-left: 0px!important;  }

.slider{
  /*overflow-y:auto!important;*/
  height:90px!important;
}

/*.slider-slides{width: 100%!important;}*/

.slider-pager {
	/*top: 0;*/
	bottom: 7px!important;
}

.slider-pager .slider-pager-page {
  height:15px!important;
  display:inline!important;
  color:#fff!important; 
}
.slider-pager .slider-pager-page i.icon{font-size:10px;}

.btc{/*color:#ef7a40;*/}
.usd{/*color:#93c356;*/}
.gold{/*color:#d3b957;*/}
.cny{/*color:#df565c;*/}
.asset_img{height:40px;width:40px;}
.asset_list .asset_img {margin-right: 16px;}
.list.asset_img {
    float: left;
    max-height: 40px;
    max-width: 40px;
    margin-right: 1em;
    border-radius: 4px;
}

.asset_list h2, .addr_list h3 {color:#003762;}
.hidden_asset {background-color:#eeeeee!important;} /*acfa84*/
.badge-default{
  display: flex;
  display: -webkit-flex;
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #007DC4!important;
  color: #ffffff;
  z-index: 1;
  padding: 3px 8px 2px 8px;
  min-width: 10px;
  border-radius: 10px;
  vertical-align: baseline;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  text-transform:uppercase;
}

/********************/
/* ACCORDION        */
/********************/
.list .item.item-accordion {
  height: 38px;
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  height: 0px;
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

/*******************************/
/* LISTS (Settings & balances) */
/*******************************/
.list.settings {padding: 25px 15px 15px 15px;}
.list.settings .item span.addy{
  font-size:14px;
}
.main_transactions {height: 100%;}
.list.tx_detail .item,  .list.settings .item, .list.balances .item, .list.addys_balances .item, .main_transactions .item{
  border-color:transparent!important;
  border:none;
  border-width: 0px;
  margin:0; 
  /*border-style: solid; */
}
.list.settings .item, .list.settings .item .input-label  {
    height: 72px;
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    display: -webkit-flex;
    font-size:14px;}
.list.settings .item.item-toggle .toggle        { top: 20px;}
.list.ui_settings .toggle.toggle-green input:checked + .track {
  border-color: #93c91f;
  background-color: #93c91f;}
.list.ui_settings .item.item-select:after          { color:#93c91f;}
.list.settings .item.item-button-right > button {top:12px;}

.main_transactions h2 , .main_transactions p {margin:0!important;}

.list.settings .item .line-divider, .list.settings .line-divider, .main_transactions .line-divider{
  clear: both;
  position: absolute;
  bottom: 1px;
  left: 16px;
  background-color: #eee;
  /* margin-left: 16px; */
  width: 100%;
  height: 1px;
}
.main_transactions .line-divider{left: 55px;}
.main_transactions .line-divider.last{display: none;}
.list.settings .item .line-divider2{
  margin-left: 16px;
  background-color: #eee;
  /* margin-left: 16px; */
  width: 100%;
  height: 1px;
}

.transactions .memo {color:#b9b9b9!important; clear:both;}

.list.settings .item-divider, .index_transactions .item-divider
{
  /*background-color: #ECF0F1!important;
  color:#666666!important;*/
  
  background-color: #ffffff!important;
  color:#b9b9b9!important;
  
  font-size:14px;
  padding-top: 18px;
  padding-bottom: 4px;
  min-height: 44px;
  text-transform:uppercase;

  border-color:transparent!important;
  border:none;
  border-width: 0px; 
}
.index_transactions .item-divider{
  font-size:14px;
  /*font-weight: bold;*/
  padding-top: 5px!important;
  padding-bottom: 4px!important;
  height: 28px!important;
  min-height: 28px!important;
}

.index_transactions .item p {width:100%;}
.index_transactions .item p {width:100%;}
.index_transactions ._0_today {display:none!important;}

.list.settings .input-label, .input-label, .list.settings .item.item-toggle{
  /*color: #999!important;*/
}

.list.settings img.avatar_rounded{
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background-color: whitesmoke;
}

.list.settings .item.ng-hide-remove{
  /* the transition is defined in the active class */
  transition: 1s linear all;
}

.list.addys_balances .addys.ng-hide-remove {
  /* the transition is defined in the active class */
  transition: 3s linear all;
}

.list.settings .not_enabled{
  background-color:#f0f0f0;
}

/* *************** */
/* REGISTER ********/
/* *************** */
.register {
    align-content: stretch;
    -webkit-align-content: stretch;
    width: 100%;
    height:auto;
    min-height:300px;
    overflow: hidden;
    position:relative; 
    padding-top:88px!important;
  }
.create_account, .register, .seed_container .item-content span {color: #ddd;}

.register p{padding:0px;margin:0px;font-size:14px;}  
.register .list.settings{margin-bottom:47px!important;}
.register_container {
  padding: 10px 10px 10px 0px;
}
.register_container h4{ padding-left:16px}
.register_container p{ padding-left:16px}
.register_container, .register_color{color:#fff!important;}

.register .buttons_container {
  -webkit-align-self: flex-end; 
  align-self: flex-end;
  width: 100%;}
.register .buttons_container a{margin-bottom:33px!important;}

.no-margin {margin:0!important;}
/*.register .list.settings {margin-bottom:67px!important;}*/
/******************/
/* BALANCES */

.list.balances, .list.rate_changed, .refund .list{
  margin-bottom:5px!important;
  /* box-shadow: 0 3px 7px 0 rgba(90, 187, 92, 1); */
  /* box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.24); */
}

.refund .list .item, .list.rate_changed .item, .list.balances .item{ 
  height:78px; 
  padding-left: 28px;
  padding-right: 28px;
  /*font-size: 12px;*/
  font-size: 14px;
}
.rate_changed .item_data{font-weight:400;}
.rate_changed span.float_right{font-weight:300;}

.refund .list .item, .list.rate_changed .item {border-width:0px;}

.assets_header {background-color:#d0d8dc;color:#697b8c;}
.assets_header span{font-weight: 300;}
.assets .asset_data {font-weight: 300;}
.assets .asset_data span.asset_balance{font-weight: 400;}

.list.balances .item .asset_data{
  height: 56px;
  padding-top: 15px;
}
.list.rate_changed .item{ height: 56px;}

.padding_top_0, .deposits .list.balances .item .asset_data{padding-top: 0px!important;}
.list.balances .item .asset_balance{float: right;}
.refund .list .item-divider,.list.rate_changed .item-divider {padding:28px;}

.list.balances.contacts .item.base-color:first-child{border-top-left-radius:4px;border-top-right-radius:4px;}
.list.balances .item.base-color:last-child{border-bottom-left-radius:4px;border-bottom-right-radius:4px;}
.list.balances .item-divider {
  display:flex;align-items:center;
  display:-webkit-flex;-webkit-align-items:center;
  border-top-left-radius:4px;border-top-right-radius:4px;}
.list.balances .item-divider span {width:50%;}
.refund .list .item-divider span.tx_desc, .list.balances .item-divider span.tx_desc, .list.rate_changed .item-divider span.tx_desc {
  width: 100%;
  font-size: 17px;
}  
.tx_detail h2 {font-size: 18px!important;margin:0!important;}
.tx_detail h2 .pending_text {font-size: 11px!important;}
.tx_detail .tx_amount {font-weight: 700;}
.tx_detail h2 {font-size: 17px;}
.tx_detail .item .detail_data {font-weight: 200;}
.tx_detail .item .detail_data span {float:right; font-weight: 500;}
.tx_detail .item .detail_data span.nl {float:left; padding-top:5px!important;}
.tx_detail .item.item-icon-left {border-bottom: 1px solid #ddd!important;}
.list.tx_detail {padding-bottom:20px!important;}
/*.list.tx_detail:last-child{margin-bottom:20px!important;}*/
.fw100 {font-weight:100;}
/******************************/
/*DEPOSIT *********************/ 
/******************************/
.deposit .quote i.icon.ion-loading-c , .withdraw .quote i.icon.ion-loading-c {
  position: absolute;
  top: 42px;
  right: 16px;
  color: #999;
}
.button_taller {height:67px!important;line-height:67px!important;margin-top:0px!important;margin-bottom:0px!important;}

.button_taller i.icon {vertical-align: middle!important;}

.rotate45{
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.rotate90{
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.rotate270{
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.deposit h3, .withdraw h3{
  color: #fff;
  padding-left: 16px;
}
 
p.bitcoin_uri {
  padding: 16px;
  /*background-color: #eeeeee;*/
  font-size:18px!important;
  } 

.wrap_text{
  -ms-word-break: break-all;
  /* Be VERY careful with this, breaks normal words wh_erever */
  word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  
  overflow: visible!important;
  white-space: normal!important;
}

span.quote_error{padding-left: 16px;}

.deposit .tab-item {max-width: 350px;}
.deposit a.tab-item i.fa{
  font-size: 26px!important;
  line-height: 50px!important;}
.deposit a.tab-item i.icon{
  font-size: 26px!important;}
.deposit div.qr_container{
  width:100%;
  text-align: center;
}
.deposit .qr_image{
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}

#qrcode {width:100%!important; height:auto;display:block;}

/* WITHDRAW */
.withdraw div.bitcoin_address{width:100%!important;padding:0!important;}
.withdraw div.bitcoin_address .line-divider{width:auto;right:65px!important;}

/* Pie Chart */
.instant_quote {line-height:50px;left: 16px;top: 20px;padding-left: 16px;position: absolute;}
.instant_quote2{line-height:20px;padding-left: 16px;position: relative!important;}

.chart_container{
  text-align:center;
  position:relative;
  }
.chart {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 16px;
  margin-bottom: 5px;
  text-align: center;
  margin-right:auto;
  margin-left:auto;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 50px;
  z-index: 2;
}
.percent:after {
  content: ''; /*'%'*/
  margin-left: 0.1em;
  font-size: .8em;
}

#mynano div, #mynano1 div, #mynano2 div, #mynano3 div{
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.50);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.50);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.50);
  background-color:#1b4356 /* 01bbf4 */; 
}

.button-bar.tabbed {
  /*margin-top:30px;*/
}

.button-bar.tabbed > .button{
  height:30px;
  line-height:30px!important;
  vertical-align:middle;
}

.button-bar.tabbed > .button i.icon{
  height:30px;
  line-height:30px!important;
  vertical-align:top;
}
.button-bar.tabbed > .button i.icon.fa{
  height:28px;
  line-height:28px!important;
}

.button-bar.tabbed > .button:first-child {
  border-radius: 6px 0px 0px 6px;
}

.button-bar.tabbed > .button:last-child {
  border-right-width: 1px;
  border-radius: 0px 6px 6px 0px;
}

.button-bar.tabbed > .button-energized{
  background-color:#fff;
  color:#1b4356 /*#01bbf4*/;
}

.button-bar.tabbed > .button-energized.active{
  background-color:#1b4356 /*#01bbf4*/;
  color:#fff;
}

.button-bar.tabbed > .button-send{
  background-color:#546979 ;
  color:#cad0d5 ;
  border-color:#546979 ;
}

.button-bar.tabbed > .button-receive{
  /*background-color:#1b4356 ;*/
  background-color:transparent;
  color: #cad0d5; 
  border-color:#546979;
}

.button-bar.tabbed > .button:before, .button-bar.tabbed > .button .icon:before {
  line-height: 30px!important;
}

.transaction_steps{padding:10px;}
.step_doing{padding:25px;}

.energized_bg h4{color:#fff!important;}

.col-20 {
  width: 20%; }
.col-47 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 47%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 47%;
  -ms-flex: 0 0 47%;
  flex: 0 0 47%;
  width: 47%; }

.platform-android .action-sheet .action-sheet-title{
  text-align: center !important; 
  font-weight: 200;
}
.platform-android .action-sheet .button {
  text-align: center !important; 
  border-color: #d1d3d6!important; 
  
}

fieldset {
  margin: 0!important; 
  padding: 0!important;
  border: none!important;
}

.withdraw, .deposit , .welcome, .create_account, .register, .refund{
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: flex;
    flex-flow: row wrap;}

.welcome, .create_account, .register{
    padding-left:33px!important;
    padding-right:33px!important;
}

.welcome, .create_account, .requote, .refund{
    align-content: stretch;
    -webkit-align-content: stretch; /* Safari 7.0+ */
    height:100%;
}
.create_account                         { padding-top: 88px; width: 100%;}
.create_account .create_account_content { display:block;width:100%;}
.create_account .input-label {max-width: 300px!important; width:100%;}
.welcome .logo_container      { padding-top: 88px;
                                /* padding-left: 44px; */
                                color: #fff;
                                /* padding-right: 44px; */
                                text-align: center;
                                width: 100%;}
.welcome .logo_container img  { margin:0 auto;}
.welcome .buttons_container, .create_account .buttons_container   { 
  align-self:flex-end;
  -webkit-align-self:flex-end;
  width:100%;padding-bottom: 88px;}

.create_account .buttons_container {padding-bottom: 33px!important; height:80px;}
button.centered_autow {width:auto!important;margin:0 auto;}
.welcome .buttons_container a{text-transform: uppercase!important;}
.successful {  /*.register, */
    position:relative; 
    padding-top:88px;
    padding-left:55px;
    color:#fff;
    padding-right:44px;
    height:100%!important;}

.successful h2 {color:#fff; font-weight:300;}
.successful a {width: 46px;
      height: 46px;
      border-radius: 50%;
      /*border: solid 1px #ECF0F1;
      color:#ECF0F1!important;*/}

.successful h2.amount {color:#2C3E50;}
.successful p.white {color:#ECF0F1;}
.successful p.bigger {color:#2C3E50;font-size: 16px;}

.create_account_passsword .buttons_container {text-align:center;}
.create_account_passsword .list_password .item.pmd.margin15 {margin-top:15px!important;}

/* .balance_container,  */
.seed_input_container textarea.pmd, .pseudo-nav-bar, .register, .welcome, .welcome_bg, .create_account, .create_account_bg, .register_bg {
  background: -moz-linear-gradient(123deg, rgba(26,66,84,1) 0%, rgba(26,67,86,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(26,67,86,1)), color-stop(100%, rgba(26,66,84,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(123deg, rgba(26,66,84,1) 0%, rgba(26,67,86,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(123deg, rgba(26,66,84,1) 0%, rgba(26,67,86,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(123deg, rgba(26,66,84,1) 0%, rgba(26,67,86,1) 100%); /* ie10+ */
  background: linear-gradient(327deg, rgba(26,66,84,1) 0%, rgba(26,67,86,1) 100%); /* w3c */
}

.register, .welcome, .create_account {
  background: url(../img/bg/world-dotted-map.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

.register_bg h3 {width:100%;}
.create_account a, .create_account_seed a, .create_account_password a  { 
  font-size:13px; border-radius: 4px; text-transform:uppercase; 
  max-height:47px;
  line-height:47px;
  width: auto;
  min-width:100px;
  display: block; }

a.w_126 {min-width:126px!important;}
a.w_145 {min-width:145px!important;}
.seed_container {
  width:100%;
  margin:25px 0 25px 0;
  font-weight: bold; 
  overflow:hidden;
}
.seed_container span.qr_hint {font-size:10px;color:inherit; text-align: right;text-transform: uppercase;}

.seed_container p{font-size:18px;}
.register .seed_container {margin:0px 0 25px 0!important;}

a.button.lime_border.activated{background-color:#d3eb00!important; color:rgba(26,66,84,1)!important;}

.create_account_password .list_password {
        position: relative;
        overflow: hidden;
        padding: 6px 0 5px 16px; }

/* Pseudo Material Design */
ion-nav-bar.light_navbar ion-header-bar { background-color: #fff!important;
                box-shadow: 0px 0px 5px 0px #546979!important;}
ion-nav-bar.light_navbar.darky ion-header-bar{
  
  color: #fff;
  box-shadow: none!important;
  /*background-image:none!important;
  background-color:#1b4356!important;*/
  background-size: 360px auto !important; 
  background-position:center 0px!important;
  background-repeat: no-repeat!important;
  background-image: url(../img/bg/bg-dashboard@0x.png)!important;
}
ion-nav-bar.light_navbar .button.button-icon{color:#5f7381;}
ion-nav-bar.light_navbar.darky .button.button-icon{color:#ffffff;}
ion-header-bar .back-button i.ion-ios-arrow-back:before {font-size:32px!important;}

label.pmd {padding-left:0px!important;}
input.pmd {font-size:16px!important;  color:#fff;border-top:none; border-left:none; border-right:none; 
  border-bottom: 1px solid #d8d8d8 !important; 
  background-color:transparent!important;}

.seed_container .item {border-color: transparent!important; 
                       background-color: transparent!important;
                      border-width: 0px!important; }

.seed_container input.pmd {font-size:16px!important;  color:#fff;border-top:none; border-left:none; border-right:none; border-bottom: 1px solid #d8d8d8 !important; background-color:transparent!important;}
.seed_container input.pmd:focus {border-bottom: 1px solid #d3eb00 !important;color:#d3eb00 !important;}

.seed_input_container {margin:25px 0 25px 0;}
.seed_input_container textarea.pmd {
      font-size:16px!important;  
      color:#fff;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; 
      border:1px solid #d8d8d8 !important; 
      /*background-color:transparent!important;*/
      padding:10px;}
.seed_input_container textarea.pmd:focus {
      /*border-bottom:*/ border:; 1px solid #d3eb00 !important;
      color:#d3eb00 !important;}
.seed_input_container span.error {font-size:14px;width:100%;text-align:right;}
.seed_container span.error {font-size:14px;width:100%;text-align:right;}

.send_form {/*padding-top: 10px;*/}
.refund .send_form{padding-top: 0px;}
.send_form .item-input-inset{padding:0px 8px 0px 0px!important}

.send_form input{color:#546979!important;}                      
.send_form input.pmd { 
    border-top:none; border-left:none; border-right:none; 
    border-bottom: 1px solid #d8d8d8 !important; /*546979*/
    background-color:transparent!important;
    padding-right: 0px;
    }
.send_form i.pmd{
    /*color:#eaeaea;*/
    color:#ccc;
    font-size:35px!important; 
    line-height:28px!important; 
    position: absolute;
    top: 24px;
    right: 16px;}
.send_form label.pmd button{position: absolute;top: 10px;right: 5px;color:#eaeaea!important;}

.send_form .item-floating-label i.pmd{top: 44px;left:10px;}
.send_btc_form .item-floating-label i.pmd{left:auto; right:15px}

.button_taller.dock_bottom.button-icon.ion-ios-paperplane {font-size: 40px!important;/*color:#fff !important;*/}

.send_form input.pmd.input_amount{font-size:35px!important; line-height:35px!important;height:44px!important;
    padding-right: 70px; padding-top: 10px!important;} /* HACK padding-right: 70px!important*/
.send_form .item-floating-label input.pmd.input_amount {padding-left: 25px;text-align: left;}
.send_btc_form .item-floating-label input.pmd.input_amount {padding-left: 0px;}
.send_form input.pmd:focus {border-bottom: 1px solid #8ec919 !important;}    
.send_form textarea.pmd {font-size:16px!important;
                        border-top:none; border-left:none; border-right:none; 
                        border-bottom: 1px solid #d8d8d8 !important; /*546976*/
                        background-color:transparent!important;
                /*margin-left: 8px;*/}
.send_form textarea.pmd:focus{border-bottom: 1px solid #8ec919 !important;}    
.send_form .input-label.pmd {font-size:10px;
          /*color:#8ec919 !important;
          font-weight: 500; */
          color:#546979 !important;
          font-weight: 300;
          text-transform: uppercase;}
.send_form label.pmd {
    padding-left:14px!important; 
    position:relative;
    align-items: flex-start;
    -webkit-align-items: flex-start;}
.send_form label.pmd span {width:52px;text-align:left;} /* hacko para floating label, right*/
.send_form .btc_amount_container{position:relative;display:block;width:100%;height:auto;}
.send_form .button.icon.ion-arrow-swap:before{
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 24px;
}

.send_form .recipient_container {position:relative;display:block;width:100%;height:auto;overflow: hidden;}
.send_form .recipient_container label.pmd{
    /*width:320px!important;*/
  width:310px!important;
  float:left;
}
.send_form .recipient_container.recipient_container2 label.pmd{
  width:320px!important;
  float:left;
}

.send_form .recipient_container button{
    position: absolute;
    /*right: 5px;*/
    right: 16px;
    color:#eaeaea!important;top:6px;}
button.top_23, .send_form .recipient_container2 button {top:23px!important;}
button.top_35 {top:35px!important;}

.send_form .recipient_container button.ion-android-cancel{right:10px;}
.send_form button.button-icon.icon.ion-android-cancel:before{font-size:24px!important;}
.send_form_button {color: #8ec919!important;font-weight: bold;
    border-left:none!important;
    border-right:none!important;
    border-bottom:none!important;}

.send .scroll
  , .withdraw .scroll{
     display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row wrap; /* Safari 6.1+ */
    -webkit-align-content: strecht; /* Safari 7.0+ */
    display: flex;
    flex-flow: row wrap;
    align-content: strecht;
    height:100%;
    width:100%;}
.requote .buttons_container, .refund .buttons_container, .send .buttons_container{ 
  align-self:flex-end;
  -webkit-align-self:flex-end;
  width:100%;}

.import_priv h1 {padding-top:44px;padding-bottom:22px;}
.import_priv_content, .receive_qr_content {width:100%;}
.import_priv.list, .receive_qr.list {margin-bottom: 0px!important;width:100%;}
.import_priv.list .item{border:none;}
.import_priv_content .scroll, .receive_qr_content .scroll, .receive .scroll{
     display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row wrap; /* Safari 6.1+ */
    -webkit-align-content: strecht; /* Safari 7.0+ */
    display: flex;
    flex-flow: row wrap;
    align-content: strecht;
    height:100%;
    width:100%;}
.import_priv_content .buttons_container, .receive_qr_content .buttons_container, .receive .buttons_container{ 
  align-self:flex-end;
  -webkit-align-self:flex-end;
  width:100%;}
.import_priv h1, .import_priv h2, .receive_qr h1, .receive_qr h2, .receive_qr h4 {text-align:center;font-weight: 300;}
.receive_qr .qr_hint {float: right;font-size: 10px;padding-right: 0px!important;padding-top:0px;text-align: right;}

.bold {font-weight: bold!important;}
.color_white {color:#fff!important;}
.green_bg       { background-color: #93c91f!important;}
.green_color    { color: #93c91f!important;}
.bgcolor_white {background-color:#fff!important;}
.send_form_button.bgcolor_white.activated{background-color:#d3eb00!important; color:#fff!important;}
.send_form .item.pmd {border-color: transparent!important;
  margin: 0px!important;
  padding: 16px;
  border:none!important;}

.send_rate {padding-left:71px;padding-right:20px;}
.send_rate .hint.padded_r{padding-right:27px}
.hint.left {
    overflow: hidden;
    min-height: 25px;
    float:right;
    color: #d0d0d0; /*#d8d8d8;*/
    text-align: right;
    font-size:12px;
}

.send_btc_form .hint.left {min-width:125px;}
.hint.right {
    text-align: right;
    float: right;
    width: auto;/*110px;*/
    min-height: 25px;
    margin-left: 10px;
    font-size:12px;
    color:#d0d0d0!important;
    font-weight: 500;
}

.deposit_rate {clear:both;
  /*padding-left:71px;*/
  padding-right: 66px; /*80px*/
  margin-top: 0px;
  /*display:flex;
  display:-webkit-flex;
  align-items:stretch;
  -webkit-align-items:stretch;*/
  }
.deposit_rate .hint.left{
  width:auto;
  padding-right:10px;
  min-width: 125px!important;
}
.deposit_rate_loading {text-align:center;display: block;min-height: 28px;overflow: hidden;margin-top:0px;} /* margin-top:40px  */


.deposit .step2 {width:100%;}
.deposit .list.qr_code .item, .list.receive_qr .item{border:none!important;}
.deposit_form .amount_container {position:relative;display:block;width:100%;height:auto;padding-top:0px;overflow:hidden;} /*padding-top:25px;*/
.withdraw .deposit_form .amount_container {padding-top:0px!important;}
.deposit_form .amount_container label.pmd{width: 310px!important;float:left;}
.deposit_form .toggle_curr { position: absolute;top: 45px;right: 16px; } /* top: 70px */
.withdraw .deposit_form .toggle_curr { top: 45px!important;}
.deposit_confirm {
  /*padding: 10px 10px 10px 0px;*/
  padding:30px 10px 0px 16px;
}
.deposit_form .pmd.input_curr input {color:#000;}
/*.pmd.input_curr i.pmd {color:#000;}*/
.deposit_form .pmd.other_curr input {color:#ccc!important;}
.deposit_form .pmd.other_curr i.pmd {color:#ccc;}

#deposit_qrcode {width:100%;height:auto;}

.deposit_confirm p {margin:0!important;}
.deposit_confirm p b{font-size:16px!important;}

.deposit_form .amount_container .placeholder-icon {margin-right: 0px;}
.w100_hauto{width:100%;height:auto;}
.h67 {height:67px;}
.deposit .deposit_qr_hint {float: right;font-size: 10px;padding-right: 30px!important;padding-top:0px;}

.withdraw .buttons_container, .deposit .buttons_container{ 
  align-self:flex-end;
  -webkit-align-self:flex-end;
  width:100%;}

.ion-autocomplete-container .item {color:#5f7381!important;}
.ion-autocomplete-container .item p {color:#666!important; font-size:10px;}
.ion-autocomplete-container .item-divider{color:#fff!important;font-size:14px;background-color:#546979!important;border:none;}
.ion-autocomplete-container .item-divider.item-icon-right .icon:before{font-size:24px;}
.ion-autocomplete-cancel {font-size:14px!important;}
.ion-autocomplete-container .item.search p {font-size:12px!important;margin-top: 1px;}
.ion-autocomplete-container .item .local {font-size:12px!important;}
.ion-autocomplete-container .item .global {font-size:12px!important;}
.ion-autocomplete-container .item .spinner {stroke: #5f7381;  fill: #5f7381;}
.ion-autocomplete-container label.item-input-wrapper {background-color:#eaeaea!important;}
.ion-autocomplete-container .ion-autocomplete-search {color:#5f7381;}


.action_container .one_of_two_buttons .button.border_top_left {border-left:1px solid #b2b2b2!important;}
.action_container .one_of_two_buttons .button{border-top:1px solid #b2b2b2!important;font-size:26px;}

.super_flex{
  display: -webkit-flex; /* Safari */
  -webkit-flex-flow: row wrap; /* Safari 6.1+ */
  display: flex;
  flex-flow: row wrap;
  height:100%;
}

.bar_title_button {font-size: 14px!important;}
.register .bar_title_button{
    position: absolute;
    right: 10px;
    top: 10px;}
.bar .title {font-size: 17px!important; font-weight:400!important;}

.bar .button.button-icon .icon:before, 
  .bar .button.button-icon:before, 
  .bar .button.button-icon.icon-left:before, 
  .bar .button.button-icon.icon-right:before {
  font-size: 26px!important;}

.bar .button.button-icon .icon.icon_smaller:before, 
  .bar .button.button-icon.icon_smaller:before, 
  .bar .button.button-icon.icon-left.icon_smaller:before, 
  .bar .button.button-icon.icon-right.icon_smaller:before {
  font-size: 22px!important;
  padding-top: 2px;}


/*.bar .button.button-icon.smaller:before, 
  .bar .button.button-icon.icon-left.smaller:before, 
  .bar .button.button-icon.icon-right.smaller:before,*/
  
  .button.button-icon.smaller{line-height: 30px;
    height: 30px;
    min-height: 35px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    /*background-color: #d3eb00;*/
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.50);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.50);
    background-color:#546979; /*#BDC3C7; */

    -webkit-align-self: flex-end; /* Safari 7.0+ */
    align-self:flex-end;
  }
  
  .button.button-icon.smaller:before {
    font-size: 15px!important; 
    padding-top:2px;
    color: #1b4356; /*#5f7381; #e65f3f*/
    line-height: 30px;
  }


.c1x.button-icon:before, .bar .button.button-icon.micro-icon:before {font-size:17px!important;}

.loading-container .loading {
  display:flex;align-items:center;
  display:-webkit-flex;-webkit-align-items:center;}
.loading-container .loading ion-spinner {float:right;}
.loading-container .loading ion-spinner {stroke:#d3eb00!important;} /*93c91f*/
ion-spinner {stroke:#d3eb00!important;} /*93c91f*/

.lime_settings_ionicon {
}
.lime_settings_ionicon:before {
  padding-top:23px!important;
  color:#797778!important;
  font-size:17px!important;
  }

.encryption_form .checkbox-icon:before {
  display: table!important;
  /*width: 100%!important;
  height: 100%!important;*/
  border-width: 1px!important;
  border-style: solid!important;
  border-radius: 28px!important;
  background: rgb(192, 192, 192)!important;
  content: ' ';
}
.encryption_form .checkbox-icon{ font-size:20px!important;}
.encryption_form .checkbox input:checked:before, .encryption_form .checkbox input:checked + .checkbox-icon:before {
  background: #d3eb00!important;
  border-color: #d3eb00!important;}
/*.encryption_form label.item-checkbox {color:rgb(192, 192, 192)!important;}*/
.encryption_form .item-checkbox.pmd .checkbox {
  left:initial!important;
  right:0px!important;}
.encryption_form .item-checkbox.pmd div.item-content{
  text-align: right!important;
  padding-right: 30px!important;}

.checkbox input:checked:after, input:checked + .checkbox-icon:after {
  border-bottom-color: rgba(26,66,84,1);
  border-left-color: rgba(26,66,84,1);
  /* rgba(26,66,84,1) 0%, rgba(26,67,86,1) */
}
.item.larger{
  height: auto!important;
  min-height: 100px;}

.button.button-icon.mini:before, .icon.mini:before{font-size:24px!important;}
.button.button-icon.mini2:before, .icon.mini2:before{font-size:20px!important;}

.ui_settings .item-button-right i.icon{
  position: absolute;
  top: 14px;
  right: 12px;
  min-width: 34px;
  min-height: 34px;
  /*font-size: 18px;*/
  line-height: 32px;}
.ui_settings .item-button-right i.icon.ion-locked {right: 9px;}

.ui_settings .item-divider{
  font-weight: 300;
  background-color: transparent!important;
  color: #fff!important;
  border: none!important;
  margin-top: 25px!important;
}

.action-sheet .button.destructive {
  color: #ff3b30!important;
}
.contact .list {}
.contact .data_container { height:80px; width:100%;
  -webkit-align-items:center;
  display:-webkit-flex;
  align-items:center;
  display:flex;
}
.contact .data_container canvas{ float:left; padding:10px;}
.contact .data_container label{ float:left; width:270px; }
.contact .input_text {padding-left:0px!important;padding-right:0px!important;
  font-size:26px!important; line-height:26px!important;height:36px!important;}

.contacts .list .item p {color:#666!important; font-size:10px!important;}
/*.home .no_tx, */
.contacts .no_contacts {
  align-items: center;
  display: flex;
  -webkit-align-items:center;
  display:-webkit-flex;
  
  width: 100%;
  height: 100%;}
.home .no_tx {height: auto; overflow:hidden;width:100%;padding-top: 150px;}  
.home .no_tx .content, .contacts .no_contacts .content{text-align:center;width:100%;}
.home .no_tx .content span, .home .no_tx .content i:before, 
  .contacts .no_contacts .content span, .contacts .no_contacts .content i:before {color:#c1c1c1;}
.home .no_tx .content i:before, .contacts .no_contacts .content i:before {font-size:36px;}

.item-avatar > canvas {
  position: absolute;
  top: 16px;
  left: 16px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

p.paragraph {padding:25px; font-size:17px; font-weight: 300;margin:0;}

.popup-body input[type="text"]
  , .popup-body input[type="password"]{
    padding-left:10px!important;
  }

.close_account{
  z-index:5!important;
  color:#fff!important;
  position:absolute!important;
  top:33px!important;
  right:5px!important;
}

.deposit_withdraw_selector{
  display: -webkit-flex; /* Safari */
  -webkit-flex-flow: row wrap; /* Safari 6.1+ */
  display: flex;
  flex-flow: row wrap;
  -webkit-align-content:stretch;
  align-content:stretch;
  width:100%;
  height:100%;
}

.deposit_withdraw_selector a.method{
  width:100%;
  text-align:center;
  background-color: #fff;
  margin-bottom:2px;
}

.deposit_withdraw_selector a.method h2{
 margin-top:0px;
}

.deposit_withdraw_selector a.method p{
  display:none;
}

.send_btc_form label.pmd.btc_memo{
  clear:both;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 359px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    
    .send_form .item-floating-label i.pmd{top: 43px;}

    .home .no_tx {padding-top: 100px;}  

    #qrcode img {width:284px; height:284px;}

    .send_btc_form .deposit_rate {
      padding-right: 16px!important;
    }
    
    .send_btc_form label.pmd.btc_memo, .btc_amount_container label.pmd{
      padding:16px 16px 0px 16px!important;
    }
    
    .deposit_withdraw_selector a.method h2{
     margin-top:-10px;
    }
    /*.deposit_withdraw_selector a.method p{
      display:none;
    }*/

    ion-nav-bar.light_navbar.darky .lime_icon.qr-code { 
      background-size: 18px 18px !important; 
      width:32px;height:32px;
    }
    
    .ui_settings .item-divider{
      margin-top: 0px!important;
    }

    .register {
      min-height:30px;
      padding-top:33px!important;
    }
    .register .seed_container {
      margin:0px!important;
    }

    /* , .list.ui_settings:last-child */
    .list.ui_settings{
      padding-bottom: 20px!important;
    }

    .balance_container .button-bar {
      padding-top:0px;
    }
    .balance_ {
      display:block; height: 73px; overflow:hidden;
    }
    .balance{
      padding-top: 0px;
    }

    .balance.hidden{
      padding-top: 12px;
    }
    
    .balance_container{
      background-size: 320px auto !important; 
      height:125px;
    }
    
    .index_transactions {
      top:125px;
    }
    
    p.paragraph {
      padding:25px 25px 0px 25px;
      font-size:16px!important;
    }
    .withdraw_form p.paragraph {
      padding:16px 16px 0px 16px!important;
    }
    

    .deposit_form .amount_container label.pmd{
      width:270px!important;
    }
    .send_form .recipient_container label.pmd{
      width:270px!important;
    }
    .menu .menu_header {
      height:215px!important;
    }
    .menu .scroll-content.has-header{
      top:215px!important;
    }
    .menu .menu_container{
      padding:30px 16px 16px 16px;
    }
    .menu  .menu_container .menu_balance {
      display:none;
    }
    .create_account, .register {
      padding-top:33px;
    }
    .create_account .buttons_container{
      padding-bottom:33px;
    }
}